<%- include('../partials/head', { title: 'Sobre'}) %>
<section class="d-flex content-about" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: false }) %>
  <section class="container about-container">
    <section class="about mt-2 mb-4">
      <section class="row mb-3 pb-4">
        <section class="col-md-7">
          <h1 class="text-center">Sobre o Projeto PetAqui</h1>
          <br />
          <p>
            A PetAqui nasceu a partir do projeto integrador do curso de web full
            stack da Digital House, onde os integrantes do time de
            desenvolvimento viram uma paixão em comum que é o amor pelos
            animais.
          </p>
          <p>
            Por conta dessa paixão, havia a constante preocupação com os animais
            perdidos ou em situações de abandono que precisavam de um lar.
          </p>
          <p>
            Então, estes foram os principais motivos que os incentivaram na
            criação deste projeto.
          </p>
        </section>
        <section class="col-md-5 about-desc__imgContainer">
          <img src="/images/sobre2.png" class="img-fluid about-desc__img" />
        </section>
      </section>
      <section class="row about-info_row pb-3">
        <section class="col-md-4 about-info">
          <section class="row">
            <div class="col">
              <section class="icons-section">
                <div class="about-circle mission">
                  Missão
                </div>
              </section>
            </div>
          </section>
          <section class="row row-p">
            <div class="col ">
              <p class="justify-content-end">
                Promover a adoção consciente, contribuindo para que cada animal
                encontre o seu tutor e tenha um lar digno.
              </p>
            </div>
          </section>
        </section>

        <section class="col-md-4 about-info">
          <section class="row">
            <div class="col">
              <section class="icons-section">
                <div class="about-circle vision">
                  Visão
                </div>
              </section>
            </div>
          </section>
          <section class="row row-p">
            <div class="col">
              <p>
                Ser sucedido em possibilitar ao maior números de animais
                possíveis obterem um lar feliz.<br><br>

              </p>


            </div>

          </section>
        </section>
        <section class="col-md-4 about-info">
          <section class="row align-items-center">
            <div class="col-md-4">
              <section class="icons-section">
                <div class="about-circle values">
                  Valores
                </div>
              </section>
            </div>
          </section>
          <section class="row row-p ">
            <div class="col">
              <p>
                Acolhimento com Dignidade, Solidariedade, Exercício da Cidadania,
                Conscientização, Respeito e Dedicação.<br>
              </p>
            </div>

          </section>
        </section>
      </section>
    </section>
  </section>
</section>
<%- include('../partials/footer', { useSelect: false }) %>