<%- include('../partials/head', { title: "Perfil Pet" }) %>

<div class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>

    <div class="container col-10 justify-content:center rounded mt-5 mb-5" id="containerbody">
      <br>
      <div class="row ml-3">
        <h3 class="">Nome do Pet </h3>
        
      </div>
  
      <div class=" container p-1 col-11 " id="containerimgs">
        <div class="row">
  
          <img src="/images/gato.jpg" class="img-fluid col-9 p-1 " alt="Foto do Pet" id="fotomaior">
  
          <div class="col-3 p-1 float-right " id="thumbspets">
            <img src="/images/gato.jpg" alt="thumb pet" class="img-fluid p-1">
            <img src="/images/gato.jpg" alt="thumb pet" class="img-fluid p-1">
            <img src="/images/gato.jpg" alt="thumb pet" class="img-fluid p-1">
          </div>
        </div>
        <%- include('../components/pet-status-line') %>

      </div>
      <div class="texto pt-1 pb-3">
        
        <div class="row ml-1">
        <svg class="bi bi-geo-alt" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 002 6c0 4.314 6 10 6 10zm0-7a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
        </svg>
             <h6>3km de você</h6>
      </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <ul>
          <li>Me dou bem com:</li>
          <li>Cuidados extras:</li>
        </ul>
        <div class="text-center">
          <a class="btn btn-primary btn-lg " href="/perfil-dono" role="button" id="botaoadotar">Adotar</a>
        </div>
      </div>
    </div>
  
    


<%- include('../partials/footer') %>