<%- include('../partials/head', { title: 'Cadastro usuário' }) %>

<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>
  <section class="container-fluid main-container">a</section>
</section>
<%- include('../partials/footer', { useSelect: false }) %>