<%- include('partials/header') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="componente">
        <div class="panel-heading">
          <button type="button" class="close mr-2" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="card-header h5">Esqueci a senha</h5>
        </div>

        <form class="form-container">
          <div class="panel-content text-center mb-4">
            Por favor, informe o email para recuperar a senha
          </div>
          <div class="form-group" id="email-group">
            <input
              type="email"
              class="form-control mb-4"
              placeholder="Digite seu email"
            />
          </div>
          <div class="submit-button mb-3">
            <button type="submit" class="btn btn-block">
              Recuperar a senha
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
