<%- include('../partials/head', { title: 'Tela inicial'}) %>
<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>

  <section class="container mt-5">
    <section class="row justify-content-center">
      <section class="col-12 col-sm-10 col-md-9 ">
        <section class="div-cardContainer main-container mb-5 justify-content-center">
          <section class="cards-home-user">
            <% for(pet of pets) { %>
            <%- include('../components/card-feed', { pet }) %>
            <%  } %>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
<%- include('../partials/footer', { useSelect: false }) %>