<%- include('../partials/head', { title: 'Login' }) %>

<div class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: false }) %>
  <section class="container-fluid mt-5 mb-5">
    <section id="section-container-login">
      <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
          <div style="font-size: 10px;">
            <i class="fas fa-user-circle fa-10x" id="icone-login-user"></i>
          </div>
          <section class="section-login">
            <form class="form-container-input">
              <div class="form-group input-login" id="email-group">
                <input type="email" class="form-control" placeholder="Email" />
              </div>
              <div class="form-group input-login" id="paswd-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Senha"
                />
              </div>
              <div class="submit-button">
                <button type="submit" class="btn btn-block button-entrar">
                  Entrar <i class="fas fa-sign-in-alt" id="icone-entrar"></i>
                </button>
              </div>
              <a href="/user/register" class="register-login">Registre-se</a>
              <a href="/esqueci-senha" class="forgot">Esqueci a senha</a>
            </form>
          </section>
        </section>
      </section>
    </section>
  </section>

  <%- include('../partials/footer') %>
</div>
