<%- include('../partials/head', { title: 'Login' }) %>

<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: false }) %>
  <div class="container">
    <div class="card card-container-login">
        
        <img id="profile-img" class="profile-img-card" src="/images/icone_user.svg" />
        <p id="profile-name" class="profile-name-card"></p>
        <form action="/home/user" method="GET" class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control text-center" placeholder="Email" required autofocus>
            <input type="password" id="inputPassword" class="form-control text-center" placeholder="Senha" required>
          
            <button class="btn btn-login" type="submit">Entrar <i class="fas fa-sign-in-alt" id="icone-entrar"></i></button>
        </form><!-- /form -->
        <div class="row ">
          <div class="col ">
            <a href="/user/cadastro" class="register-login ">Registre-se</a>
          </div>
          <div class="col">
            <a href="/esqueci-senha" class="forgot ">Esqueci a senha</a>
          </div>
        </div>       
    </div><!-- /card-container -->
</div><!-- /container -->

</section>
<%- include('../partials/footer') %>
