<%- include('../partials/head', { title: 'Criar conta' }) %>

<section class="d-flex alo" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: false }) %>
  <div class="container">
    <div class="card card-container-login">
      <div class="card-header text-center" id="card-header-login">
        <h1 class="h5-card-header-login">Criar conta</h1>
      </div>

      <section class="section-form-login mt-4">

        <form action="/cadastrar" method="POST" class="form-signin">

          <label class="login-email-label" for="nome">Nome:</label>
          <input type="text" name="nome" id="nome" class="form-control text-center" required autofocus />
          <label class="login-email-label" for="email">Email:</label>
          <input type="email" name="email" id="email" class="form-control text-center" required autofocus />
          <div class=" invalid-feedback">
            Email já utilizado
          </div>
          <label class="login-senha-label" for="senha">Senha:</label>
          <input type="password" name="senha" id="senha" class="form-control text-center" required />
          <label class=" login-confirmar-senha-label" for="confirmar-senha">Confirmar senha:</label>
          <input type="password" name="confirmar_senha" id="confirmar_senha" class="form-control text-center"
            required />


          <!-- <section class="form-row d-flex align-items-center mt-4">
              <input type="checkbox" class="col-1" id="termos-de-uso">
              <label class="form-check-label col-10" for="termos-de-uso">
                Ao cadastrar eu concordo com os
                <a href="/termos-de-uso">
                  Termos de uso
                </a>
                e Políticas de Privacidade.
              </label>
            </section> -->

          <button class="btn btn-login" type="submit" id="btn-cadastrar" disabled>
            Cadastrar
          </button>
        </form>
        <!-- /form -->

        <!-- <div class="col text-right">
            <a href="/esqueci-senha" class="forgot ">Esqueci a senha</a>
          </div> -->
    </div>
</section>
</div>
<!-- /card-container -->
</div>
<!-- /container -->
</section>
<%- include('../partials/footer') %>
<script src="javascripts/cadastrar.js"></script>