<%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="stylesheets/header.css">
<link rel="stylesheet" href="stylesheets/register-user.css">

<%- include('partials/header') %>
<%- include('partials/footer') %>


</body>