<%- include('../partials/head', { title: 'Cadastrar Pet para adoção'}) %>
<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true}) %>
  <section class="container-fluid">
    <section class="row formRegisterPet__rowContainer">
      <section class="formRegisterPet__container
                      register-pet-adoption
                      col-12
                      col-md-10
                      col-xl-8">
        <h1 class="col-md-12
                    text-center">
          Cadastrar Pet para adoção
          <!-- <i class="far fa-question-circle" data-toggle="modal" data-target="#modal-petEncontrado">
          </i> -->
        </h1>
        <form class="col-md-12 formRegisterPet__form"
              action="cadastrar" method="POST"
              enctype="multipart/form-data">
          <input class="form-check-input" name="status" type="radio" id="petEncontrado" value="ADOCAO" checked/>
          <div class="form-row">
            <section class="form-group
                            col-md-4 pl-0">
              <section class="form-group col-sm-6 col-md-12 pl-0 form-img-review">
                <img src="/images/default-photo.png" alt="Visualização de imagem" class="img-thumbnail preview-img">
              </section>
              <section class="form-group 
                              col-sm-12 col-md-12 pl-0">
                <section class="col-md-12 p-0">Porte:</section>
                <section class="form-row">
                  <div class="form-check
                              form-check-inline
                              col-sm-3
                              col-md-12 ">
                    <input class="form-check-input" name="porte" type="radio" id="pequeno" value="pequeno" />
                    <label class="form-check-label" for="pequeno">
                      Pequeno
                    </label>
                  </div>
                  <div class="form-check
                              form-check-inline
                              col-sm-3
                              col-md-12">
                    <input class="form-check-input" name="porte" type="radio" id="medio" value="medio" />
                    <label class="form-check-label" for="medio">
                      Médio
                    </label>
                  </div>

                  <div class="form-check
                              form-check-inline
                              col-sm-3
                              col-md-12">
                    <input class="form-check-input" name="porte" type="radio" id="grande" value="grande" />
                    <label class="form-check-label" for="grande">
                      Grande
                    </label>
                  </div>
                  <div class="form-check
                              form-check-inline
                              col-sm-3
                              col-md-12">
                    <input class="form-check-input" name="porte" type="radio" id="null" value="null" />
                    <label class="form-check-label" for="null">Não sei
                    </label>
                  </div>
                </section>
              </section>
            </section>

            <!-- Lado direito do formulário -->
            <div class="form-group
                        col-md-8">
              <section class="form-row">
                <label class="col-12" for="especie">
                  Nome:
                </label>
                <input class="form-control
                            col-12" type="text" name="nome" id="">
                <section class="form-group
                                col-12">
                  <label class="mr-2">
                    Sexo:
                  </label>
                  <section class="form-row">
                    <div class="form-check
                                col-3
                                form-check-inline">
                      <input class="form-check-input" name="sexo" type="radio" id="radio-femea" value="femea" />
                      <label class="form-check-label" for="radio-femea">
                        Fêmea
                      </label>
                    </div>
                    <div class="form-check
                                col-3
                                form-check-inline">
                      <input class="form-check-input" name="sexo" type="radio" id="radio-macho" value="macho" />
                      <label class="form-check-label" for="radio-macho">
                        Macho
                      </label>
                    </div>
                    <div class="form-check
                                col-4
                                form-check-inline">
                      <input class="form-check-input" name="sexo" type="radio" id="radio-null" value="null" />
                      <label class="form-check-label" for="radio-null">
                        Não sei
                      </label>
                    </div>
                  </section>
                </section>
        
                <section class="form-row">
                  <section class="form-group col-sm-12 col-md-12">

                    <section class="custom-file">
                      <input type="file" class="custom-file-input" name="fotos" id="customFile"
                        onchange="renderFotos(event)" multiple>
                      <label class="custom-file-label" for="customFile">Selecionar arquivos</label>
                    </section>

                  </section>
                  <section class="form-group col-sm-12 col-md-12 imgs-preview">
                    <img data-name="primeiroPreview" data-id="multiplePreview" class="img-thumbnail">
                    <img data-id="multiplePreview" class="img-thumbnail">
                    <img data-id="multiplePreview" class="img-thumbnail">
                    <img data-id="multiplePreview" class="img-thumbnail">
                  </section>
                </section>


                <section class="form-row">
                  <section class="form-group col-sm-12 col-md-6">
                    <label for="especie">Espécie:</label>
                    <select class="form-control" name="especie" id="especie" required>
                      <option value="">Selecione uma espécie</option>
                      <option value="2">Cachorro</option>
                      <option value="1">Gato</option>
                    </select>
                  </section>

                  <section class="form-group col-sm-12 col-md-6">
                    <label for="raca">Raça</label>
                    <select class="form-control" name="raca" id="raca" required>
                      <option value="">Selecione uma raça</option>
                      <option value="indefinido">Indefinida</option>
                    </select>
                  </section>
                </section>
                <!-- Campo sobre se Pet é vacinado ou não -->
                <section class="form-group
                              row
                              col-12">
                  <label class="col-4">
                    Vacinado:
                  </label>
                  <section class="form-row
                                col-6">
                    <div class="form-check
                              form-check-inline">
                      <input class="form-check-input" name="vacinado" type="radio" id="vacinado-sim" value="1" />
                      <label class="form-check-label" for="vacinado-sim">
                        Sim
                      </label>
                    </div>
                    <div class="form-check
                              form-check-inline">
                      <input class="form-check-input" name="vacinado" type="radio" id="vacinado-nao" value="0" />
                      <label class="form-check-label" for="vacinado-nao">
                        Não
                      </label>
                    </div>
                  </section>
                </section>
                <!-- Campo sobre se Pet é castrado ou não -->
                <section class="form-group
                              row
                              col-12">
                  <label class="col-4">
                    Castrado:
                  </label>
                  <section class="form-row
                                col-6">
                    <div class="form-check
                              form-check-inline">
                      <input class="form-check-input" name="castrado" type="radio" id="castrado-sim" value="1" />
                      <label class="form-check-label" for="castrado-sim">
                        Sim
                      </label>
                    </div>
                    <div class="form-check
                              form-check-inline">
                      <input class="form-check-input" name="castrado" type="radio" id="castrado-nao" value="0" />
                      <label class="form-check-label" for="castrado-nao">
                        Não
                      </label>
                    </div>
                  </section>
                </section>
                <!-- Campo sobre se Pet é vermifugado ou não -->
                <section class="form-group
                              row 
                              col-12">
                  <label class="col-4">
                    Vermifugado:
                  </label>
                  <section class="form-row
                                col-6">
                    <div class="form-check
                              form-check-inline">
                      <input class="form-check-input" name="vermifugado" type="radio" id="vermifugado-sim"
                        value="1" />
                      <label class="form-check-label" for="vermifugado-sim">
                        Sim
                      </label>
                    </div>
                    <div class="form-check
                              form-check-inline">
                      <input class="form-check-input" name="vermifugado" type="radio" id="vermifugado-nao"
                        value="0" />
                      <label class="form-check-label" for="vermifugado-nao">
                        Não
                      </label>
                    </div>
                  </section>
                </section>

                <!-- Descrição do animal -->
                <section class="form-group 
                              col-12">
                  <label for="descricao">Descrição:</label>
                  <textarea class="form-control" id="descricao" rows="3" cols="100">
                </textarea>
                </section>
                <section class="form-group col-sm-12 col-md-12">
                  <button type="button" class="btn btn-block orange" data-button="getAddress">
                    Usar meu endereço
                  </button>

                </section>
                <section class="form-row col-12">
                  <section class="form-group col-md-6">
                    <label for="endereco">Logradouro:</label>
                    <input type="email"
                            name="logradouro"
                            class="form-control"
                            id="endereco" />
                  </section>
                  <section class="form-group col-md-5">
                    <label for="numero">Número:</label>
                    <input type="text"
                            name="numero"
                            class="form-control"
                            id="numero" />
                  </section>
                </section>
                <section class="form-row col-12">
                  <section class="form-group col-md-6">
                    <label for="bairro">Bairro:</label>
                    <input type="text"
                            name="bairro"
                            class="form-control"
                            id="bairro" />
                  </section>
                  <section class="form-group col-md-5">
                    <label for="cep">CEP:</label>
                    <input type="text"
                            name="cep"
                            class="form-control"
                            id="cep" />
                  </section>
                </section>
                <section class="form-row col-12">
                  <section class="form-group col-md-6">
                    <label for="cidade">Cidade:</label>
                    <input type="text"
                            name="cidade"
                            class="form-control"
                            id="cidade" />
                  </section>
                  <section class="form-group col-md-5">
                    <label for="estado">Estado:</label>
                    <input type="text"
                            name="estado"
                            class="form-control"
                            id="estado" />
                  </section>
                </section>

                <section class="form-group 
                              col-sm-12 col-md-12
                              d-flex justify-content-end">
                  <button type="button" class="btn orange--offset mr-2">Cancelar</button>
                  <button type="submit" class="btn orange">Cadastrar</button>
                </section>
            </div>
          </div>
        </form>
      </section>
    </section>
  </section>
</section>
  <%- include('../partials/footer') %>
