<%- include('../partials/head', { title: 'Cadastro usuário' }) %> 
<%- include('../partials/header') %>

<section class="col-12 col-xs-2 col-sm-9 col-lg-8 col-xl-6">

    <div class="formulario p-5">
        <h3 class="text-align-center mb-4">Criar conta</h3>
        <form 
            action="#"
            method="POST"
            class="">      
            <div class="form-group">
                <section class="form-row">
                    <label 
                        class="col-form-label col-2"
                        for="nome">Nome*</label>
                    <input 
                        class="form-control col-10"
                        type="text"
                        name="nome"
                        id="nome">
                </section>
            </div>
            <div class="form-group">
                <section class="form-row">
                    <label 
                        class="col-form-label col-2"
                        for="email">Email*</label>
                    <input 
                        class="form-control col-10"
                        type="email"
                        name="email"
                        id="email">
                </section>
            </div>

            <div class="form-group">
                <section class="form-row">
                    <label 
                        class="col-form-label col-2"
                        for="senha">Senha*</label>
                    <input 
                        class="form-control col-10"
                        type="password"
                        name="senha"
                        id="senha">
                </section>
            </div>
            <div class="form-group">
                <section class="form-row">
                    <label 
                        class="col-form-label col-4"
                        for="confirmar-senha">
                        Confirmar senha*
                    </label>
                    <input 
                        class="form-control col-8"
                        type="password"
                        name="nome"
                        id="confirmar-senha">
                </section>
            </div>
    
            <div class="form-group">
                <section class="form-row">
                    <input 
                        type="checkbox"
                        class="col-1"
                        id="localizacao">
                    <label
                        class="form-check-label col-10"
                        for="localizacao">
                        Autorizo o uso da minha localização atual.
                    </label>
                </section>
            </div>

            <div class="form-group">
                <section class="form-row">
                    <input
                        type="checkbox"
                        class="col-1"
                        id="termos-de-uso">
                    <label 
                        class="form-check-label col-10"        
                        for="termos-de-uso">
                        Ao cadastrar eu concordo com os 
                        <a href="/termos-de-uso">Termos e Condições de uso</a>
                        e condições de privacidade.
                    </label>
                </section>
            </div>
            <button type="submit" class="btn orange">Cadastrar</button>
        </form>
    </div>
</section>
<%- include('../partials/footer') %>