<%- include('../partials/head', { title: 'Gerenciamento de Pets' }) %> 

<%- include('../partials/sidebar-menu') %>
<main class="formulario p-4 ">
    <div class=" col-12 offset-1">
        <h2 class="title">Cadastrar Pet para adoção
            <a class="twitter" href="#">
                <i class="far fa-question-circle fa-1x"
                style="color: orange"></i>
            </a>
        </h2>

    </div>
    <form action="#" method="POST" class="container-fluid">
        <div class="form-text">
            <label class="col-3" for="nome">Nome*</label>
            <input class="col-8 mb-3" type="text" name="nome" id="">
        </div>
        <div class="row mb-2">
            <label class="col-3 ml-3" for="sexo">Sexo*</label>
            <div class="form-check col-2">
                <input class="form-check-input" type="radio" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Macho
                </label>
              </div>
              <div class="form-check col-2">
                <input class="form-check-input" type="radio" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Fêmea
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Não tenho certeza
                </label>
              </div>

          </div>
          <div class="form-text  mb-3 ml-1 d-flex">
            <label class="col-3" for="nome">Fotos*</label>
            <div class="col-8 d-flex justify-content-between">
                <div class="fotos-cadastro">
                    <i class="fas fa-user-alt fa-4x ml-1"></i>
                </div>
                <div class="fotos-cadastro">
                    <i class="fas fa-user-alt fa-4x ml-1"></i>
                </div>
                <div class="fotos-cadastro">
                    <i class="fas fa-user-alt fa-4x ml-1"></i>
                </div>
                <div class="fotos-cadastro">
                    <i class="fas fa-user-alt fa-4x ml-1"></i>
                </div>
            </div>
        </div>
        <div class="form-text row d-flex mb-3">
            <label class="col-3 ml-3" for="descricao">Descrição*</label>
            <textarea class="form-control col-7" aria-label="With textarea"></textarea>
        </div>

        <div class="row mb-2">
            <label class="col-3 ml-3" for="sexo">Castrado*</label>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Sim
                </label>
            </div>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Não
                </label>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-3 ml-3" for="sexo">Vermifugado*</label>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Sim
                </label>
            </div>
            <div class="form-check mb-2 col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Não
                </label>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-3 ml-3" for="sexo">Cuidados Extras*</label>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Sim
                </label>
            </div>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Não
                </label>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-3 ml-3" for="sexo">Vacinado*</label>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Sim
                </label>
            </div>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Não
                </label>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-3 ml-3" for="sexo">Vacinas*</label>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  Raiva
                </label>
            </div>
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                <label class="form-check-label" for="defaultCheck2">
                  V12/V10/V8
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="comportamento" class="col-3 ml-3">Comportamento</label>
            <select class="form-control w-25" id="selectComportamento">
                <option>Dócil</option>
                <option>Agressivo</option>
                <option>Assustado</option>
                <option>Afetuoso</option>
            </select>
            </div>
            <div class="row">
                <button class="btn offset-3 col-3" type="submit">Voltar</button>
                <button class="btn offset-1 col-3" type="submit">Salvar</button>
            </div>
    </form>
</main>
<%- include('../partials/footer') %>