<%- include('../partials/head', { title: 'Termos de Uso'}) %>

<section class="d-flex" id="wrapper">   
    <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>
    <div class="container">
        <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <article class="container-terms">
                <h1>Termos de Uso e Políticas de Privacidade</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, cumque voluptatibus explicabo dolores ad sint assumenda est. Repellat reiciendis, commodi unde ex quae quibusdam, officia doloremque esse praesentium maxime debitis.
                    Omnis est quo aspernatur iure molestias eos doloremque nisi, at voluptatum nulla inventore! Maiores quos repellendus placeat alias blanditiis odio reiciendis quas nobis vel, velit eaque amet autem excepturi porro!
                    Adipisci, exercitationem ratione aliquam nihil reiciendis blanditiis debitis sint repudiandae ex nobis tempora officia, numquam doloremque id obcaecati laborum dolores totam fugit, illo ipsam sapiente ipsa. Dignissimos, fuga repellendus?
                </p>
                <h2>Lorem Ipsum</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, cumque voluptatibus explicabo dolores ad sint assumenda est. Repellat reiciendis, commodi unde ex quae quibusdam, officia doloremque esse praesentium maxime debitis.
                    Omnis est, exercitationem ratione aliquam nihil reiciendis blanditiis debitis sint repudiandae ex nobis tempora officia, numquam doloremque id obcaecati laborum dolores totam fugit, illo ipsam sapiente ipsa. Dignissimos, fuga repellendus?
                </p>
                <p>
                    <i class="fa fa-paw" aria-hidden="true"></i>
                    Lorem ipsum dolor, sit amet consectetur sint ex nobis tempora officia, numquam doloremque id obcaecati laborum dolores totam fugit, illo ipsam sapiente ipsa. Dignissimos, fuga repellendus?
                </p>
                <p>
                    <i class="fa fa-paw" aria-hidden="true"></i>
                    Lorem ipsum dolor, sit amet consectetur sint ex nobis tempora officia, numquam doloremque id obcaecati laborum dolores totam fugit, illo ipsam sapiente ipsa. Dignissimos, fuga repellendus?
                </p>
                <p>
                    <i class="fa fa-paw" aria-hidden="true"></i>
                    Lorem ipsum dolor, sit amet consectetur sint ex nobis tempora officia, numquam doloremque id obcaecati laborum dolores totam fugit, illo ipsam sapiente ipsa. Dignissimos, fuga repellendus?
                </p>
                <p>
                    <i class="fa fa-paw" aria-hidden="true"></i>
                    Lorem ipsum dolor, sit amet consectetur sint ex nobis tempora officia, numquam doloremque id obcaecati laborum dolores totam fugit, illo ipsam sapiente ipsa. Dignissimos, fuga repellendus?
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, cumque voluptatibus explicabo dolores ad sint assumenda est. Repellat reiciendis, commodi unde ex quae quibusdam, officia doloremque esse praesentium maxime debitis.
                    Omnis est quo aspernatur iure molestias eos doloremque nisi, at voluptatum nulla inventore! Maiores quos repellendus placeat alias blanditiis odio reiciendis quas nobis vel, velit eaque amet autem excepturi porro!
                    Adipisci, exercitationem ratione aliquam nihil reiciendis blanditiis debitis sint repudiandae ex nobis tempora officia, numquam doloremque id obcaecati laborum dolores totam fugit, illo ipsam sapiente ipsa. Dignissimos, fuga repellendus?
                </p>
                <p><strong>Contato: </strong>contato@petaqui.com.br</p>
            </article>
        </div>
        </div>
    </div>
    <div class="espaco-branco"></div>
    <div class="espaco-branco"></div>
    <div class="espaco-branco"></div>
</section>
