<%- include('../partials/head', { title: 'Termos de Uso'}) %>
<!-- sidebar -->
<section class="d-flex" id="wrapper">
    <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>
    <!-- conteúdo -->
    <section class="container-fluid terms__container">
        
            <div class="row mr-4 ml-4">
                <div class="col-12">
                    <div class="d-flex w-100 justify-content-between">
                    
                    <article>
                        <h1 class="h2-terms text-center">Termos de Uso e Políticas de Privacidade</h1>
                        <br>
                        <h2 class="h3-terms text-center">Termos e Condições de Uso</h2>
                        <br>
                        <p>Por favor, leia atentamente os termos e condições a seguir transcritos</p>
                        <p>
                            Bem-vindo(a) à PetAqui, operada pela empresa NOME DA EMPRESA - CNPJ: XX.XXX.XXX/XXXX-XX (“nos”
                            “nós”
                            “a Empresa” ou “PetAqui”).
    
                        </p>
                        <p>
                            <ol type="1">
                                <li>Aceitação dos Termos de uso </li>
                        </p>
                        <p>
                            Ao criar uma conta na PetAqui, seja através de dispositivo móvel, aplicativo móvel ou computador
                            (o
                            "Serviço"), você está de acordo com (i) os presentes Termos e Condições de uso e (ii) a nossa
                            Política de privacidade, cada qual incorporado a este Contrato por referência, bem como (iii)
                            com
                            quaisquer termos divulgados e acordados por você ao adquirir recursos adicionais, produtos ou
                            serviços que oferecemos no Serviço (coletivamente, o "Contrato").
                            Se você não aceita e não concorda em vincular-se aos termos e condições deste Contrato, você
                            estará
                            impedido de utilizar o Serviço.
    
                            Podemos alterar este Contrato e os Serviços periodicamente. Podemos fazê-lo por diversas razões,
                            inclusive para refletir as mudanças ou exigências legais, novos recursos ou alterações nas
                            práticas
                            comerciais. A versão mais recente deste Contrato será publicada nos Serviços e em Configurações;
                            você deve consultar a versão mais recente regularmente. A versão mais recente é a que se aplica.
                            Se
                            as alterações incluírem emendas significativas que afetam os seus direitos ou obrigações, você
                            será
                            notificado antecipadamente a respeito, por meios razoáveis, o que pode incluir notificação
                            através
                            dos Serviços ou por e-mail. Se você continuar a utilizar os Serviços após as alterações entrarem
                            em
                            vigor, isso significa que você concorda com o Contrato revisado.
                        </p>
                        <p>
                            <li>Qualificação</li>
                        </p>
                        <p>
                            Não restringimos o uso do site PetAqui e a utilização de nossos Serviços a nenhuma faixa etária
                            específica. Ao criar uma conta e utilizar o Serviço, você declara e garante que:
                            <ul class="ul-terms">
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i> tem capacidade jurídica para
                                    atos civis para firmar um contrato vinculativo com a PetAqui;</li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i> não está impedido de utilizar o
                                    Serviço nos termos das leis do Brasil ou outra jurisdição aplicável;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    cumprirá este Contrato e todas as leis, normas e regulamentos municipais, estaduais,
                                    nacionais e internacionais aplicáveis; e
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i> nunca foi condenado por crime
                                    ambiental, nem é
                                    agente de maus tratos, obedecendo e concordando com as leis de defesa animal, sejam
                                    federais, estaduais ou municipais.
                                </li>
                        </p>
                        </ul>
                        <p>
                            <li>Sua conta</li>
                        </p>
                        <p>
                            Para usar a PetAqui, você pode acessar usando sua conta de e-mail ativa, suas credenciais do
                            Facebook ou outro serviço de autenticação disponível. Se o fizer, você nos autoriza a acessar e
                            utilizar determinadas informações da sua conta do Facebook, inclusive, entre outras, o seu
                            perfil
                            público no Facebook e informações sobre amigos em comum no Facebook que você compartilha com
                            outros
                            usuários da PetAqui. Para obter mais dados sobre as informações que coletamos de você e como as
                            utilizamos, consulte a nossa Política de privacidade.
    
                            Você é responsável por manter a confidencialidade de suas credenciais de login que utiliza para
                            se
                            conectar à PetAqui, bem como é o único responsável por todas as atividades associadas ao uso
                            dessas
                            credenciais. Se você acredita que alguém obteve acesso à sua conta, entre em contato,
                            imediatamente
                            via chat dentro do aplicativo, ou pelo e-mail contato@petaqui.com.br
                        </p>
                        <p>
                            <li> Alteração dos Serviços e rescisão </li>
                        </p>
                        <p>
                            A PetAqui está empenhada em melhorar os Serviços e a oferecer funcionalidades adicionais que
                            possam
                            ser úteis e interessantes para você. Isso significa que podemos incluir novos recursos ou
                            aprimorar
                            produtos ao longo do tempo, bem como remover alguns recursos e, se essas ações não afetarem
                            significativamente os seus direitos e obrigações, talvez, antes de removê-los, não forneceremos
                            aviso prévio. Podemos até mesmo suspender totalmente os Serviços, caso em que você será
                            notificado
                            com antecedência, a menos que circunstâncias atenuantes, como questões de segurança, impeçam-nos
                            de
                            fazê-lo.
    
                            Você pode encerrar sua conta a qualquer momento, por qualquer motivo, seguindo as instruções em
                            "Configurações", no Serviço; no entanto, você precisará gerenciar suas compras no aplicativo por
                            meio de sua plataforma de dispositivo móvel (por exemplo, iTunes, Google Play). A PetAqui poderá
                            cancelar sua conta a qualquer momento, sem aviso prévio, se acreditar que você violou este
                            Contrato.
                            Após o referido cancelamento, você não terá direito a nenhum reembolso pelas compras no
                            aplicativo.
                            Após o cancelamento de sua conta, este Contrato será rescindido, considerando que as seguintes
                            disposições continuarão em vigor entre você e a PetAqui: seção 4, seção 5 e seções 12 a 18.
                        </p>
                        <p>
                            <li>
                                Segurança: suas interações com outros usuários
                            </li>
                        </p>
                        <p>
                            Embora a PetAqui se esforce para incentivar uma experiência de usuário com respeito, não somos
                            responsáveis pela conduta dos usuários dentro ou fora dos Serviços. Você concorda em agir com
                            cautela em todas as interações com outros usuários, especialmente ao decidir se comunicar fora
                            do
                            Serviço ou pessoalmente. Você não deve fornecer suas informações financeiras (p. ex., cartão de
                            crédito ou informações de conta bancária), transferir ou, de outra forma, enviar dinheiro a
                            outros
                            usuários.
                            VOCÊ É O ÚNICO RESPONSÁVEL POR SUAS INTERAÇÕES COM OUTROS USUÁRIOS. VOCÊ COMPREENDE QUE A
                            PETAQUI
                            NÃO INVESTIGA OS ANTECEDENTES CRIMINAIS DOS USUÁRIOS, NEM VERIFICA OS HISTÓRICO DOS USUÁRIOS. A
                            PETAQUI NÃO MANIFESTA DECLARAÇÕES OU GARANTIAS EM RELAÇÃO À CONDUTA DOS USUÁRIOS. A PETAQUI
                            RESERVA-SE AO DIREITO DE CONDUZIR QUALQUER INVESTIGAÇÃO DE ANTECEDENTES CRIMINAIS, OU OUTRAS
                            VERIFICAÇÕES (COMO PESQUISAS EM REGISTROS DE CRIMINOSOS AMBIENTAIS) A QUALQUER MOMENTO,
                            UTILIZANDO
                            OS REGISTROS PÚBLICOS DISPONÍVEIS.
                        </p>
                        <p>
                            <li>
                                Direitos concedidos a você pela PetAqui
                            </li>
                        </p>
                        <p>
                            A PetAqui concede a você uma licença pessoal, universal, isenta de royalties, intransferível,
                            não
                            exclusiva, revogável e não sublicenciável para acessar e utilizar os Serviços. Esta licença é
                            para o
                            propósito exclusivo de permitir que você use e desfrute dos benefícios dos Serviços, conforme a
                            intenção da PetAqui e autorização prevista neste Contrato. Portanto, você concorda em não:</p>
                        <p>
                            <ul class="ul-terms">
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    usar o Serviço, ou qualquer conteúdo contido no Serviço, para fins comerciais sem a
                                    nossa
                                    autorização por escrito;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    copiar, modificar, transmitir, criar trabalhos derivados, fazer uso ou reproduzir em
                                    qualquer formato materiais protegidos por direitos autorais, imagens, marcas comerciais,
                                    nomes comerciais, marcas de serviço ou outros direitos de propriedade intelectual,
                                    conteúdo
                                    ou informações de propriedade exclusiva acessíveis através do Serviço, sem a autorização
                                    prévia por escrito da PetAqui;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    expressar ou sugerir que suas declarações sejam endossadas pela PetAqui;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    utilizar robô, bot, spider, rastreador, scraper, aplicativo de busca/recuperação de
                                    site,
                                    proxy ou outro dispositivo, método ou processo manual ou automático para acessar,
                                    recuperar,
                                    indexar, realizar “data mine” ou, de outra forma, reproduzir ou contornar a estrutura de
                                    navegação ou apresentação do Serviço ou conteúdos;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    utilizar os Serviços de forma que possa interferir, interromper ou afetar negativamente
                                    o
                                    Serviço, os servidores ou redes conectadas ao Serviço;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    enviar vírus ou outro código malicioso ou, de outra forma, comprometer a segurança dos
                                    Serviços;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    forjar cabeçalhos ou manipular outros identificadores para disfarçar a origem das
                                    informações transmitidas para ou através do Serviço;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    "enquadrar" ou "espelhar" qualquer parte do Serviço sem autorização prévia por escrito
                                    da
                                    PetAqui;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    utilizar meta-tags, códigos ou outros dispositivos que contenham referências à PetAqui
                                    ou ao
                                    Serviço (ou marca comercial, marca registrada, marca de serviço, logotipo ou slogan da
                                    PetAqui) para direcionar pessoas para outro site, para qualquer fim;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    modificar, adaptar, sublicenciar, traduzir, vender, promover engenharia reversa,
                                    decifrar,
                                    descompilar ou desmontar qualquer parte do Serviço ou fazer com que outras pessoas o
                                    façam;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    utilizar ou desenvolver aplicativos de terceiros que interajam com os Serviços, o
                                    conteúdo
                                    ou informações de outros usuários sem a nossa autorização por escrito;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    utilizar, acessar ou publicar a interface de programação do aplicativo PetAqui sem a
                                    nossa
                                    autorização por escrito;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    verificar, analisar ou testar a vulnerabilidade de nossos Serviços ou de qualquer
                                    sistema ou
                                    rede;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    incentivar ou promover qualquer atividade que viole este Contrato.
                                </li>
                            </ul>
                        </p>
                        <p>
                            A Empresa pode investigar e tomar todas as medidas legalmente disponíveis em resposta a usos
                            ilegais
                            e/ou não autorizados do Serviço, inclusive o cancelamento da sua conta.
                            Qualquer software que fornecemos a você pode automaticamente baixar e instalar atualizações,
                            melhorias ou outros novos recursos. Você poderá ajustar downloads automáticos através das
                            configurações do seu dispositivo.
                        </p>
                        </p>
                        <p>
                            <li>
                                Direitos concedidos à PetAqui por você
                            </li>
                        </p>
                        <p>
                            Ao criar uma conta, você concede à PetAqui um direito e licença universal, transferível,
                            sublicenciável e isenta de royalties para hospedar, armazenar, usar, copiar, exibir, reproduzir,
                            adaptar, editar, publicar, modificar e distribuir informações que você nos autorize a acessar
                            pelo
                            Facebook, bem como qualquer informação que você publicar, enviar, exibir ou, de outra forma,
                            disponibilizar (coletivamente, "publicar") no Serviço, ou transmitir a outros usuários
                            (coletivamente, "Conteúdo"). A nossa licença para o seu Conteúdo está sujeita aos seus direitos
                            nos
                            termos da legislação aplicável (por exemplo, leis relacionadas à proteção de dados pessoais, na
                            extensão em que qualquer Conteúdo contenha informações pessoais conforme definido por essas
                            leis) e
                            tem o objetivo limitado de operar, desenvolver, fornecer e melhorar o Serviço atual e a pesquisa
                            e
                            desenvolvimento de novos. Você concorda que qualquer Conteúdo que colocar, ou que nos autorize a
                            colocar no Serviço, poderá ser visto por outros usuários e poderá ser visto por qualquer pessoa
                            que
                            visite ou participe do Serviço (como indivíduos que podem receber Conteúdo compartilhado de
                            outros
                            usuários da PetAqui).
    
                            Você concorda que todas as informações enviadas após a criação da sua conta PetAqui, inclusive
                            informações enviadas da sua conta do Facebook ou outro serviço de autenticação, são corretas e
                            verdadeiras, e você tem o direito de publicar o Conteúdo no Serviço e conceder a licença acima
                            descrita à PetAqui.
    
                            Você compreende e concorda que podemos monitorar ou revisar qualquer Conteúdo que você publicar
                            como
                            parte do Serviço. Podemos excluir qualquer Conteúdo, no todo ou em parte, que, a nosso critério
                            exclusivo, viole este Contrato ou possa prejudicar a reputação do Serviço.
    
                            Ao se comunicar com os nossos representantes de atendimento ao cliente, você concorda em agir
                            com
                            respeito e gentileza. Se considerarmos que o seu comportamento em relação a qualquer de nossos
                            representantes de atendimento ao cliente ou outros funcionários revele-se, em qualquer momento,
                            ameaçador ou ofensivo, reservamo-nos o direito de cancelar a sua conta imediatamente.
    
                            Em consideração à PetAqui, a qual permite que você utilize os Serviços, você concorda que poderá
                            haver publicidade nos Serviços veiculada por nós, nossas afiliadas e parceiros terceirizados. Ao
                            enviar sugestões ou comentários à PetAqui sobre os Serviços, você concorda que a PetAqui poderá
                            utilizar e compartilhar as sugestões para qualquer finalidade, sem compensação.
    
                            Você concorda que a PetAqui poderá acessar, preservar e divulgar as informações da sua conta e
                            Conteúdo se exigido por lei ou se acreditar, de boa fé, que o acesso, preservação ou divulgação
                            seja
                            razoavelmente necessário para: (i) cumprir com um processo judicial; (ii) fazer cumprir este
                            Contrato; (iii) responder a reivindicações de qualquer Conteúdo que viole os direitos de
                            terceiros;
                            (iv) responder às suas solicitações de atendimento ao cliente; ou (v) proteger os direitos, bens
                            ou
                            segurança pessoal da Empresa ou de qualquer outra pessoa.
                        </p>
                        <p>
                            <li>
                                Regras da comunidade
                            </li>
                        </p>
                        <p>
                            Ao utilizar os Serviços, você concorda em não:
                        </p>
                        <p>
                            <ul class="ul-terms">
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    utilizar o Serviço para qualquer finalidade que seja ilegal ou proibida pela legislação
                                    pátria e pelos termos deste Contrato;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    fazer spam, solicitar dinheiro ou fraudar qualquer usuário;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    personificar qualquer pessoa, entidade e animal ou publicar imagens de outra pessoa sem
                                    a
                                    permissão dela;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    ameaçar, perseguir, intimidar, assediar ou difamar qualquer pessoa ou seu animal;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    publicar qualquer Conteúdo que viole ou infrinja os direitos de outra pessoa, inclusive
                                    direitos de publicidade, privacidade, direitos autorais, marca comercial ou outra
                                    propriedade intelectual ou direito contratual;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    publicar qualquer Conteúdo de ódio, ameaçador, que incite a violência, violência gráfica
                                    ou
                                    gratuita;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    publique qualquer conteúdo que promova racismo, fanatismo, ódio ou danos físicos de
                                    qualquer
                                    natureza contra qualquer animal, grupo ou indivíduo;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    solicitar senhas e informações de identificação pessoal de outros usuários, para
                                    qualquer
                                    propósito, para fins comerciais ou ilegais, ou divulgar informações pessoais de outra
                                    pessoa
                                    sem a permissão dela;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    utilizar a conta de outro usuário;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    criar outra conta se já tivermos cancelado a sua conta, a menos que você tenha a nossa
                                    permissão.
                                </li>
                            </ul>
                        </p>
                        <p>
                            A PetAqui reserva-se o direito de investigar e/ou cancelar sua conta, sem o reembolso de
                            qualquer
                            compra, se você utilizar o Serviço de forma inadequada ou se comportar de uma forma que a
                            PetAqui
                            considere inadequada ou ilegal, incluindo ações ou comunicações que ocorram fora do Serviço, mas
                            que
                            envolvam usuários que você conheceu por meio do Serviço.
                        </p>
                        <p>
                            <li>
                                Conteúdo de outros usuários
                            </li>
                        </p>
                        <p>
                            Embora a PetAqui se reserve ao direito de revisar e remover o Conteúdo que viola este Contrato,
                            o
                            referido Conteúdo é de exclusiva responsabilidade do usuário que o publica e a PetAqui não pode
                            garantir que todo o Conteúdo cumprirá com este Contrato. Se você se deparar com Conteúdo nos
                            Serviços que implique na violação deste Contrato, comunique o mesmo dentro dos Serviços ou nos
                            envie
                            uma mensagem através do chat dentro do aplicativo, ou ainda através do e-mail
                            contato@petaqui.com.br
                        </p>
                        <p>
                            <li>
                                Compras
                            </li>
                        </p>
                        <p>
                            Compras no aplicativo. Ao longo do tempo, a PetAqui poderá oferecer produtos e serviços para
                            compra
                            ["in app purchases, IAP" (compras no aplicativo)] através do iTunes, Google Play ou outras
                            plataformas de aplicativo autorizadas pela PetAqui (individualmente, "lojas de software"). Se
                            você
                            optar por fazer uma compra no aplicativo, será solicitado que informe os detalhes da sua conta
                            na
                            loja de software ("sua conta de IAP"), e sua conta de IAP será debitada pela compra no
                            aplicativo de
                            acordo com os termos divulgados a você no momento da compra, bem como os termos gerais para
                            compras
                            no aplicativo aplicáveis à sua conta de IAP. Algumas lojas de software podem cobrar impostos
                            sobre
                            vendas, dependendo do seu local de residência. Se você adquirir uma assinatura periódica de
                            renovação automática por meio de uma compra no aplicativo, sua conta de IAP será cobrada
                            continuamente pela assinatura até que você a cancele. Após o período do compromisso de
                            assinatura
                            inicial, e novamente após qualquer período de assinatura subsequente, sua assinatura continuará
                            automaticamente por um período adicional equivalente, pelo preço que você concordou ao assinar.
                            Se
                            você não deseja que sua assinatura seja renovada automaticamente, ou se pretende alterá-la ou
                            cancelá-la, você deverá fazer o login na sua conta de IAP e seguir as instruções para cancelar
                            sua
                            assinatura, mesmo que tenha excluído sua conta conosco ou o aplicativo PetAqui do seu
                            dispositivo.
                            Excluir sua conta ou o aplicativo da PetAqui do seu dispositivo não faz com que sua assinatura
                            seja
                            cancelada; a PetAqui reterá todos os fundos debitados de sua conta de IAP até que você cancele
                            sua
                            assinatura usando sua conta de IAP.
                        </p>
                        <p>
                            Compras no nosso marketplace PetAqui On-line.
                        </p>
                        <p>
                            Se você optar por fazer uma compra usando o nosso marketplace PetAqui On-line, você concorda em
                            pagar para o estabelecimento parceiro todas as taxas exibidas para os produtos ou serviços
                            selecionados, bem como quaisquer impostos de vendas ou similares que possam ser aplicados em
                            seus
                            pagamentos, e você autoriza a este estabelecimento a cobrar seu fornecedor de pagamento
                            escolhido
                            (seu "Método de Pagamento"). O estabelecimento pode corrigir erros de faturamento ou qualquer
                            outro
                            tipo de erro, mesmo que já tenha solicitado ou recebido o pagamento. Se você der início a um
                            pedido
                            de reembolso ou reverter um pagamento feito pelo seu Método de Pagamento, a PetAqui poderá
                            encerrar
                            sua conta imediatamente, a seu exclusivo critério.
                        </p>
                        <p>
                            Se um pagamento não for liquidado com êxito devido à validade ou insuficiência de fundos, ou se
                            você
                            não editar as informações de seu Método de Pagamento ou cancelar sua assinatura, você continuará
                            sendo responsável por quaisquer montantes não cobrados e autorizará o estabelecimento parceiro a
                            continuar cobrando seu Método de Pagamento, pois este poderá ser atualizado.
                        </p>
                        <p>
                            Isso pode resultar na alteração de suas datas de pagamento e faturamento. Além disso, você
                            autoriza
                            o estabelecimento parceiro a obter uma atualização ou substituição das datas de validade e dos
                            números de seu cartão de débito ou crédito, conforme fornecido pelo emissor do cartão. As
                            condições
                            de pagamento serão baseadas em seu Método de Pagamento e poderão ser determinadas por acordos
                            feitos
                            entre você e a instituição financeira, o emissor do cartão de crédito ou outro provedor de seu
                            Método de Pagamento escolhido.
                        </p>
                        <p>
                            Itens virtuais. Ao longo do tempo, você poderá adquirir, com o dinheiro do "mundo real", uma
                            licença
                            limitada, pessoal, intransferível, não sublicenciável e revogável para utilizar "itens
                            virtuais".
                            Você somente poderá adquirir Itens virtuais conosco ou com um de nossos parceiros autorizados
                            através do Serviço e de nenhuma outra forma. Os Itens virtuais representam um direito de licença
                            limitado, regido por este Contrato. Exceto quando de outra forma proibido pela lei aplicável, os
                            Itens virtuais obtidos por você são licenciados para você, e você concorda que nenhum título ou
                            propriedade sob os Itens virtuais será transferido ou atribuído a você. Este Contrato não deverá
                            ser
                            interpretado como uma venda de quaisquer direitos sobre os Itens virtuais. Qualquer saldo de
                            Item
                            virtual exibido em sua conta não constitui um saldo do mundo real nem reflete qualquer valor
                            armazenado, mas sim, constitui uma medida da extensão de sua licença. Os Itens virtuais não
                            incorrem
                            em taxas por não utilização, no entanto, a licença concedida a você em Itens virtuais será
                            rescindida de acordo com os termos deste Contrato quando a PetAqui deixar de fornecer o Serviço
                            ou a
                            sua conta for encerrada ou rescindida. A PetAqui, a seu critério exclusivo, reserva-se o direito
                            de
                            cobrar taxas pelo direito de acessar ou utilizar Itens virtuais e/ou poderá distribuir Itens
                            virtuais com ou sem custo. A PetAqui poderá gerenciar, regulamentar, controlar, modificar ou
                            eliminar Itens virtuais a qualquer momento. A PetAqui não terá qualquer responsabilidade perante
                            você ou qualquer terceiro, caso a PetAqui exerça esses direitos. A transferência de Itens
                            virtuais é
                            proibida e você não deverá vender, resgatar ou transferir Itens virtuais para qualquer pessoa
                            física
                            ou jurídica. Itens virtuais só podem ser resgatados através do Serviço.
                        </p>
                        <p>TODAS AS COMPRAS E RESGATES DE ITENS VIRTUAIS FEITOS ATRAVÉS DO SERVIÇO SÃO DECISIVOS E NÃO
                            REEMBOLSÁVEIS. O fornecimento de Itens virtuais para uso no Serviço é um serviço oferecido pela
                            PetAqui, que inicia imediatamente após a aceitação da sua compra dos Itens virtuais. VOCÊ
                            RECONHECE
                            QUE A PETAQUI NÃO É OBRIGADA A OFERECER REEMBOLSO, INDEPENDENTEMENTE DO MOTIVO, E QUE VOCÊ NÃO
                            RECEBERÁ DINHEIRO OU OUTRAS COMPENSAÇÕES POR ITENS VIRTUAIS NÃO UTILIZADOS QUANDO UMA CONTA FOR
                            ENCERRADA, SEJA ESTE ENCERRAMENTO VOLUNTÁRIO OU INVOLUNTÁRIO.
                        </p>
                        <p>
                            Reembolsos. De modo geral, as cobranças por compras não são reembolsáveis, e não existem
                            reembolsos
                            ou créditos para períodos parcialmente utilizados. Podemos abrir uma exceção se as leis
                            aplicáveis
                            em sua jurisdição oferecerem opções de reembolso.
                        </p>
                        <p>
                            As compras de Itens virtuais são DECISIVAS E NÃO REEMBOLSÁVEIS.
                        </p>
                        <p>
                            Para solicitar um reembolso:
                        </p>
                        <p>
                            Se você fez sua assinatura usando seu ID Apple, os reembolsos serão feitos pela Apple, não pela
                            PetAqui. Para solicitar um reembolso, acesse o iTunes, clique na sua ID Apple, selecione
                            "Histórico
                            de compras", localize a operação e clique em "Comunicar problema". Você também poderá enviar uma
                            solicitação para https://getsupport.apple.com.
                        </p>
                        <p>
                            Se você fez sua assinatura usando sua conta da Google Play Store ou através do marketplace
                            PetAqui
                            On-line, entre em contato pelo chat dentro do aplicativo, ou ainda através do e-mail
                            contato@petaqui.com.br e tenha em mãos o número do pedido da Google Play Store (você pode
                            encontrar
                            esse número no e-mail de confirmação do pedido ou conectando-se ao Google Wallet) ou entre em
                            contato com a PetAqui On-line (verifique seu e-mail de confirmação).
                        </p>
                        <p>
                            <li>
                                Notificação e procedimento para reivindicação de violação de direitos autorais
                            </li>
                        </p>
                        <p>
                            Se você acreditar que o seu trabalho foi copiado e publicado no Serviço de forma que constitua
                            uma
                            violação de direitos autorais, forneça as seguintes informações ao nosso agente de direitos
                            autorais:
                        </p>
                        <p>
                            <ul class="ul-terms">
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    uma assinatura eletrônica ou física da pessoa autorizada a agir em nome do proprietário
                                    dos
                                    direitos autorais;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    uma descrição da obra protegida por direitos autorais que você alega ter sido violada;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    uma descrição de onde o material que você alega infração está localizado no Serviço (a
                                    descrição tem de ser razoavelmente suficiente para nos permitir localizar o suposto
                                    material
                                    infrator);
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    suas informações de contato, inclusive endereço, número de telefone e e-mail;
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    uma declaração escrita por você de que acredita, de boa fé, que o uso em questão não
                                    está
                                    autorizado pelo proprietário dos direitos autorais, pelo seu agente ou por lei; e
                                </li>
                                <li> <i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    uma declaração sua, feita sob pena de perjúrio, de que as informações da sua notificação
                                    acima são precisas e que você é o proprietário dos direitos autorais ou está autorizado
                                    a
                                    agir em nome do proprietário dos direitos autorais.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Reivindicações referentes à violação de direitos autorais devem ser notificadas ao diretor de
                            direitos autorais da empresa pelo e-mail contato@petaqui.com.br
                        </p>
                        <p>
                            A PetAqui encerrará as contas de infratores reincidentes.
                        </p>
                        <p>
                            <li>
                                Isenção de responsabilidade
                            </li>
                        </p>
                        <p>
                            A PETAQUI OFERECE O SERVIÇO "NO ESTADO EM QUE SE ENCONTRA", "CONFORME DISPONÍVEL" E NA EXTENSÃO
                            PERMITIDA PELA LEI APLICÁVEL, NÃO CONCEDE GARANTIAS DE QUALQUER TIPO, EXPRESSAS, IMPLÍCITAS,
                            ESTATUTÁRIAS OU DE OUTRA FORMA COM RELAÇÃO AO SERVIÇO (INCLUINDO TODO O CONTEÚDO CONTIDO NO
                            MESMO)
                            INCLUSIVE, ENTRE OUTRAS, GARANTIAS IMPLÍCITAS DE QUALIDADE SATISFATÓRIA, COMERCIALIZAÇÃO,
                            ADEQUAÇÃO
                            A UM DETERMINADO FIM OU NÃO VIOLAÇÃO. A PETAQUI NÃO DECLARA OU GARANTE QUE (A) O SERVIÇO SERÁ
                            ININTERRUPTO, SEGURO OU LIVRE DE ERROS, (B) QUAISQUER DEFEITOS OU ERROS NO SERVIÇO SERÃO
                            CORRIGIDOS,
                            OU (C) QUE QUALQUER CONTEÚDO OU INFORMAÇÃO QUE VOCÊ OBTENHA NO OU ATRAVÉS DOS SERVIÇOS SERÃO
                            PRECISAS.
                        </p>
                        <p>
                            A PETAQUI NÃO ASSUME NENHUMA RESPONSABILIDADE POR QUALQUER CONTEÚDO QUE VOCÊ, OUTROS USUÁRIOS OU
                            TERCEIROS PUBLICAM, ENVIAM OU RECEBEM ATRAVÉS DOS SERVIÇOS. QUALQUER MATERIAL BAIXADO OU, DE
                            OUTRA
                            FORMA, OBTIDO ATRAVÉS DO USO DO SERVIÇO, É ACESSADO POR SUA PRÓPRIA CONTA E RISCO.
                        </p>
                        <p>
                            <li>
                                Serviços terceirizados
                            </li>
                        </p>
                        <p>
                            O Serviço pode conter anúncios e promoções oferecidas por terceiros, bem como links para outros
                            sites ou recursos. A PetAqui não é responsável pela disponibilidade (ou falta de
                            disponibilidade)
                            desses sites ou recursos externos. Se optar por interagir com terceiros disponibilizados através
                            do
                            nosso Serviço, os termos desse terceiro controlarão a relação deles com você. A PetAqui não é
                            responsável pelos termos ou ações de terceiros.
                        </p>
                        <p>
                            <li>
                                Limitação de responsabilidade
                            </li>
                        </p>
                        <p>
                            EM TODA A EXTENSÃO PERMITIDA PELA LEI APLICÁVEL, EM NENHUMA CIRCUNSTÂNCIA, A PETAQUI, SUAS
                            AFILIADAS, FUNCIONÁRIOS, LICENCIADORES OU PRESTADORES DE SERVIÇOS SERÃO RESPONSÁVEIS POR
                            QUAISQUER
                            DANOS INDIRETOS, CONSEQUENTES, EXEMPLARES, INCIDENTAIS, ESPECIAIS OU PUNITIVOS, INCLUSIVE, ENTRE
                            OUTROS, PERDA DE LUCROS, INCORRIDA DIRETA OU INDIRETAMENTE, OU PERDA DE DADOS, USO, CLIENTELA E
                            OUTRAS PERDAS INTANGÍVEIS, RESULTANTES DO SEGUINTE: (I) O SEU ACESSO, UTILIZAÇÃO OU INCAPACIDADE
                            DE
                            ACESSO OU UTILIZAÇÃO DOS SERVIÇOS, (II) A CONDUTA OU CONTEÚDO DE OUTROS USUÁRIOS OU TERCEIROS NA
                            UTILIZAÇÃO DOS SERVIÇOS; OU (III) ACESSO, USO OU ALTERAÇÃO NÃO AUTORIZADA DO SEU CONTEÚDO, AINDA
                            QUE
                            A PETAQUI TENHA SIDO AVISADA DA POSSIBILIDADE DOS REFERIDOS DANOS. EM NENHUMA CIRCUNSTÂNCIA, A
                            RESPONSABILIDADE AGREGADA DA PETAQUI EM RELAÇÃO A VOCÊ POR TODAS AS REIVINDICAÇÕES RELACIONADAS
                            AO
                            SERVIÇO EXCEDERÁ O VALOR PAGO PELO SERVIÇO, SE FOR O CASO, POR VOCÊ À PETAQUI, ENQUANTO VOCÊ
                            TIVER
                            UMA CONTA.
                        </p>
                        <p>
                            ALGUMAS JURISDIÇÕES NÃO PERMITEM A EXCLUSÃO OU LIMITAÇÃO DE CERTOS DANOS, POR ISSO, ALGUMAS OU
                            TODAS
                            AS EXCLUSÕES E LIMITAÇÕES DESTA SEÇÃO PODEM NÃO SE APLICAR A VOCÊ.
                        </p>
                        <p>
                            <li>
                                Legislação aplicável
                            </li>
                        </p>
                        <p>
                            As leis do Brasil, exceto as regras de conflitos legais, serão aplicadas a quaisquer disputas
                            resultantes deste Contrato ou dos Serviços. Para evitar dúvidas, a escolha da legislação do
                            Texas
                            não substituirá nenhuma legislação obrigatória de proteção ao consumidor dessas jurisdições.
                        </p>
                        <p>
                            <li>
                                Foro competente
                            </li>
                        </p>
                        <p>
                            Exceto para usuários residentes na União Europeia ou no Espaço Econômico Europeu, os quais podem
                            apresentar suas reivindicações no seu país de residência de acordo com a legislação aplicável,
                            todas
                            as reivindicações resultantes ou relacionadas a este Contrato ou os Serviços serão litigadas
                            exclusivamente nos tribunais federais ou estaduais da comarca de Londrina, Paraná, Brasil, e
                            você e
                            a PetAqui concordam com a jurisdição exclusiva desses tribunais.
                        </p>
                        <p>
                            <li>
                                Indenização por Você
                            </li>
                        </p>
                        <p>
                            Você concorda, na extensão permitida pela lei aplicável, em indenizar, defender e isentar a
                            PetAqui,
                            nossas afiliadas e seus respectivos executivos, diretores, agentes e funcionários de e contra
                            quaisquer e todas as reclamações, demandas, reivindicações, danos, perdas, custos,
                            responsabilidades
                            e despesas, inclusive honorários advocatícios decorrentes, resultantes ou relacionados, de
                            qualquer
                            forma, com o seu acesso ou uso dos Serviços, seu Conteúdo ou a sua violação deste Contrato.
                        </p>
                        <p>
                            <li>
                                Contrato integral; outros
                            </li>
                        </p>
                        <p>
                            Este Contrato, juntamente com a Política de privacidade e quaisquer termos divulgados e
                            acordados
                            por você, se adquirir recursos, produtos ou serviços adicionais que oferecemos no Serviço,
                            constitui
                            o contrato integral entre você e a PetAqui sobre o uso do Serviço. Se qualquer disposição deste
                            Contrato for considerada inválida, as demais disposições deste Contrato permanecerão em pleno
                            vigor
                            e efeito. A incapacidade da Empresa em exercer ou exigir qualquer direito ou disposição deste
                            Contrato não constituirá em renúncia a este direito ou disposição. Você concorda que a sua conta
                            da
                            PetAqui é intransferível e todos os seus direitos sob a sua conta e seu conteúdo terminam após a
                            sua
                            morte. Nenhuma agência, parceria, joint venture ou contratação é criada como resultado deste
                            Contrato, e você não poderá, de maneira alguma, fazer quaisquer declarações ou vincular a
                            PetAqui.
                        </p>
                        <p>
                            <li>
                                Modificações dos Termos de Serviço
    
                            </li>
                        </p>
                        <p>
                            A PetAqui pode alterar estes Termos de Serviço a qualquer momento e a seu exclusivo critério. Os
                            Termos de Serviço modificados entrarão em vigor imediatamente mediante postagem e você concorda
                            com
                            os novos Termos de Serviço postados ao continuar o uso da plataforma. A PetAqui fornecerá aviso
                            com
                            pelo menos 10 dias de antecedência antes de quaisquer alterações materiais tenham efeito. Se
                            você
                            não concordar com os Termos de Serviço modificados, terá a alternativa de descontinuar o uso da
                            Plataforma PetAqui.
                        </p>
                        <p>
                            O USUÁRIO RECONHECE QUE LEU ESTE TERMO, ENTENDE O SEU CONTEÚDO, A SUA EXTENSÃO E CONSEQUÊNCIAS,
                            CONCORDANDO EM FICAR VINCULADO AOS SEUS TERMOS E CONDIÇÕES. O USUÁRIO AINDA CONCORDA QUE ELE É A
                            DECLARAÇÃO COMPLETA E EXCLUSIVA DO ACORDO ENTRE O USUÁRIO E A PETAQUI QUE CANCELA QUALQUER
                            PROPOSTA
                            OU ACORDO ANTERIOR, POR ESCRITO OU VERBAL, E QUALQUER OUTRA COMUNICAÇÃO ENTRE USUÁRIO E PETAQUI
                            RELATIVA AO ASSUNTO EM QUESTÃO DESTES TERMOS DE SERVIÇO.
                        </p>
                        </ol><br>
                        <h3 class="text-center">Política de Privacidade</h3>
                        <br>
                        <p>
                            NOME DA EMPRESA - CNPJ: XX.XXX.XXX/XXXX-XX (“PetAqui”) respeita a privacidade de seus usuários
                            ("você") e apresenta esta política de privacidade para demonstrar o compromisso com a proteção
                            de
                            sua privacidade. Esta política de privacidade descreve as informações que coletamos, como tais
                            informações podem ser usadas, com quem podem ser compartilhadas e suas escolhas sobre usos e
                            divulgações. Incentivamos você a ler esta política de privacidade atentamente ao usar nosso
                            aplicativo ou serviços ou efetuar transações conosco. Ao usar nosso site, aplicativo ou outros
                            serviços on-line (nosso "Serviço"), você aceita as práticas descritas nesta política de
                            privacidade.
                        </p>
                        <p>
                            Se você tiver dúvidas sobre nossas práticas de privacidade, consulte o final desta política de
                            privacidade para obter informações sobre como entrar em contato conosco.
                        </p>
                        <p>
                            Informações que coletamos sobre você
                        </p>
                        <p>
                            <ul class="ul-terms">
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Em geral. Podemos coletar informações pessoais, incluindo dados sensíveis, e outras
                                    informações. O termo “informações pessoais” significa informações identificáveis
                                    individualmente que nos permitiriam determinar a identidade verdadeira e entrar em
                                    contato
                                    com uma pessoa viva específica. Os dados sensíveis incluem informações, comentários ou
                                    conteúdo (por exemplo: fotografias, vídeo, perfil, estilo de vida e preferências) que
                                    você
                                    fornece de forma opcional que pode revelar sua origem étnica, nacionalidade, idade e/ou
                                    cultura. Ao nos fornecer dados sensíveis, você autoriza a coleta, o uso e a divulgação
                                    de
                                    dados sensíveis, conforme permitido pelas leis de privacidade aplicáveis. Também podemos
                                    coletar suas informações de geolocalização com seu consentimento. Podemos coletar estas
                                    informações por meio de um site, aplicativo móvel ou outros serviços on-line. Ao usar o
                                    serviço, você nos autoriza a coletar, analisar e manter dados relacionados à provisão do
                                    serviço. Quando você fornece informações pessoais por meio de nosso serviço, as
                                    informações
                                    podem ser enviadas aos servidores localizados nos Estados Unidos e demais países ao
                                    redor do
                                    mundo.
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Informações que você fornece. Para se registrar como um usuário do serviço da PetAqui,
                                    será
                                    solicitado que você forneça um e-mail padrão e senha para login ou ainda, que você
                                    acesse
                                    usando seu login do Facebook. Se fizer isso, você nos autoriza a acessar certas
                                    informações
                                    de sua conta do Facebook, como seu perfil público do Facebook (consistente com suas
                                    configurações de privacidade no Facebook), seu endereço de e-mail, interesses, curtidas,
                                    gênero, aniversário, histórico de educação, interesses de relacionamento, cidade atual,
                                    fotos, descrição pessoal, lista de amigos e informações e fotos de seus amigos do
                                    Facebook
                                    que podem ser amigos em comum com outros usuários do serviço da PetAqui. Também será
                                    solicitado que você permita que a PetAqui colete informações de localização de seu
                                    dispositivo quando você baixar ou usar o serviço. Além disso, podemos coletar e
                                    armazenar
                                    informações pessoais que você fornecer enquanto usa nosso serviço ou de alguma outra
                                    maneira. Isso pode incluir informações de identificação, como seu nome, endereço,
                                    endereço
                                    de e-mail e número de telefone e, se efetuar transações conosco, informações
                                    financeiras.
                                    Você também pode nos fornecer fotos, uma descrição pessoal e outras informações sobre
                                    seus
                                    pets e preferências para recomendações. Se você conversa com outros usuários da PetAqui,
                                    você nos fornece o conteúdo de suas conversas, e se entra em contato conosco para obter
                                    atendimento ao cliente ou outra consulta, você nos fornece o conteúdo de tal
                                    comunicação.
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Uso de tecnologias para coletar informações. Usamos várias tecnologias para coletar
                                    informações de seu dispositivo e sobre suas atividades em nosso serviço.
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Informações coletadas automaticamente. Coletamos automaticamente informações de seu
                                    navegador ou dispositivo quando você visita nosso serviço. Essas informações podem
                                    incluir
                                    seu endereço IP, identificador e tipo do dispositivo, o tipo e idioma de seu navegador,
                                    o
                                    sistema operacional usado por seu dispositivo, horários de acesso, localização
                                    geográfica de
                                    seu dispositivo móvel enquanto seu aplicativo estiver sendo executado ativamente.
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Cookies e o uso de cookies e dados semelhantes. Quando você visita nosso serviço,
                                    podemos
                                    atribuir um ou mais cookies ou outras tecnologias ao seu dispositivo que facilitam a
                                    personalização para facilitar o acesso ao nosso serviço e para personalizar sua
                                    experiência.
                                    Através de um cookie, também podemos coletar automaticamente informações sobre sua
                                    atividade
                                    em nosso serviço, como as páginas que você visita, a hora e a data de suas visitas e os
                                    links em que clica. Se anunciarmos, nós ou terceiros poderão usar certos dados coletados
                                    em
                                    nosso serviço para mostrar a você anúncios da PetAqui em outros sites ou aplicativos.
                                </li>
                                <li><i class="fa fa-paw  icon-terms" aria-hidden="true"></i>
                                    Identificadores de dispositivo móvel. Se você estiver usando nosso aplicativo, usaremos
                                    os
                                    identificadores de dispositivos móveis (o identificador único atribuído a um dispositivo
                                    pelo fabricante), ou os identificadores de publicidade, em vez de cookies para
                                    reconhecê-lo.
                                    Fazemos isso para armazenar suas preferências e monitorar seu uso de nosso aplicativo.
                                    Diferente dos cookies, os identificadores de dispositivos não podem ser excluídos, mas
                                    os
                                    identificadores de publicidade podem ser redefinidos nas “Configurações” de seu iPhone.
                                    As
                                    empresas de publicidade também usam identificadores de dispositivo ou identificadores de
                                    publicidade para monitorar o uso do aplicativo, monitorar o número de anúncios exibidos,
                                    medir o desempenho dos anúncios e exibir anúncios que são mais relevantes para você.
                                    Empresas de análises usam os identificadores de dispositivos para monitorar informações
                                    sobre o uso do aplicativo.
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Informações coletadas por terceiros para fins de publicidade. Podemos permitir que
                                    prestadores de serviço, empresas de publicidade e redes de anúncios e outros terceiros
                                    exibam anúncios em nosso serviço e em outro lugar. Essas empresas podem usar tecnologias
                                    de
                                    acompanhamento, como cookies ou Web beacons, para coletar informações sobre usuários que
                                    visualizam ou interagem com os anúncios deles. Não fornecemos informações pessoais não
                                    disfarçadas ou não ocultadas para terceiros.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Como usamos as informações que coletamos
                        </p>
                        <p>
                            Em geral. Podemos usar as informações que coletamos sobre você para:
                        </p>
                        <p>
                            <ul class="ul-terms">
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    entregar e melhorar nossos produtos e serviços, e gerenciar nossos negócios;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    gerenciar sua conta e fornecer atendimento ao cliente para você;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    realizar pesquisa e análise sobre seu uso de, ou interesse em, nossos produtos, serviços
                                    ou
                                    conteúdo;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    comunicar-se com você por e-mail, correio postal, telefone e/ou dispositivos móveis
                                    sobre
                                    produtos ou serviços nossos ou de outros terceiros que podem ser de seu interesse;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    desenvolver, exibir e monitorar conteúdo e publicidade ajustados ao seus interesses em
                                    nosso
                                    serviço e outros sites, incluindo fornecer anúncios a você quando você visita outros
                                    sites;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    análise de site ou aplicativo móvel;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    verificar sua elegibilidade e entregar prêmios em conexão com concursos e sorteios;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    fazer cumprir ou exercer direitos constantes nos nossos Termos de Uso;
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    realizar funções ou serviços descritos a você no momento da coleta.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Candidatos a emprego. Se suas informações pessoais forem enviadas quando se candidatar a uma
                            vaga em
                            nossa empresa, as informações serão usadas unicamente para considerar e agir a respeito de sua
                            candidatura. Podemos manter suas informações pessoais, mas apenas com o objetivo de considerar
                            sua
                            candidatura para vagas disponíveis atuais ou futuras. Essas informações, que podem incluir seu
                            nome
                            e informações de contato, educação e experiência prévias, e outras informações que você fornecer
                            a
                            nós, podem ser compartilhadas com prestadores de serviço terceirizados contratados por nós para
                            coletar, manter e analisar envios de candidatos para anúncios de emprego.
                        </p>
                        <p>
                            Em todas as circunstâncias, podemos realizar essas funções diretamente ou usar um fornecedor
                            terceirizado para realizar tais funções em nosso nome, que será obrigado a usar suas informações
                            pessoais apenas para realizar serviços para nós. Além disso, se você acessar nosso serviço de
                            uma
                            plataforma social de um terceiro, como o Facebook, podemos compartilhar informações não pessoais
                            com
                            tal plataforma, dentro dos limites permitidos por seu acordo e suas configurações de
                            privacidade.
                        </p>
                        <p>
                            Com quem compartilhamos suas informações
                        </p>
                        <p>
                            Informações compartilhadas com outros usuários. Quando você se registra como um usuário do
                            aplicativo PetAqui, seu perfil no aplicativo será visível por outros usuários do serviço. Outros
                            usuários (e no caso de compartilhamento dos recursos disponíveis no aplicativo PetAqui, os
                            indivíduos ou aplicativos com quem um usuário do aplicativo PetAqui pode escolher compartilhar
                            com
                            você) poderão visualizar informações que você forneceu a nós diretamente ou através do Facebook,
                            como suas fotos do Facebook, fotos adicionais que você transferiu, seu primeiro nome, sua idade,
                            número aproximado de quilômetros de distância, sua descrição pessoal, e as informações que você
                            tem
                            em comum com a pessoa visualizando seu perfil, como amigos e curtidas no Facebook, bem como
                            dados
                            provenientes de contas no Instagram, Spotify ou outros apps cujas contas do usuário estejam
                            vinculadas.
                        </p>
                        <p>
                            Informações pessoais. Não compartilhamos suas informações pessoais com outros, exceto conforme
                            indicado nesta política de privacidade ou quando informarmos você e dermos uma oportunidade para
                            optar por não ter suas informações pessoais compartilhadas. Podemos compartilhar informações
                            pessoais com:
                        </p>
                        <p>
                            <ul class="ul-terms">
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Prestadores de serviço. Podemos compartilhar informações, incluindo informações pessoais
                                    e
                                    financeiras, com terceiros que realizam certos serviços em nosso nome. Esses serviços
                                    podem
                                    incluir: atender a pedidos, fornecer atendimento ao cliente e assistência de marketing,
                                    realizar análises de negócios e de vendas, acompanhamento e análise de anúncios, seleção
                                    de
                                    membros, dar suporte à funcionalidade de nosso serviço e dar suporte a concursos,
                                    sorteios,
                                    pesquisas e outros recursos oferecidos por meio de nosso serviço. Esses prestadores de
                                    serviço podem ter acesso a informações pessoais necessárias para a realização de suas
                                    funções, mas não têm permissão para compartilhar ou usar tais informações para outros
                                    fins.
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Outras situações. Podemos divulgar suas informações, incluindo informações pessoais:
                                </li>
                            </ul>
                        </p>
                        <p>
                            - Em resposta a uma intimação ou exigência investigativa semelhante, uma ordem judicial ou um
                            pedido
                            para cooperação de uma agência de aplicação da lei ou outra agência do governo; para estabelecer
                            ou
                            exercer nossos direitos legais; para nos defender em ações judiciais ou de outro modo exigido
                            pela
                            lei. Nestes casos, podemos criar ou dispensar qualquer objeção legal ou direito disponível para
                            nós.
                        </p>
                        <p>
                            - Quando acreditarmos que a divulgação é adequada em relação aos esforços para investigar,
                            prevenir,
                            ou tomar outra ação a respeito de atividade ilegal, suspeita de fraude ou outra irregularidade;
                            para
                            proteger e defender os direitos, propriedade ou segurança da nossa empresa, usuários,
                            funcionários e
                            outros; para cumprir uma lei aplicável ou cooperar com a aplicação da lei; fazer cumprir nossos
                            Termos de Uso ou outros acordos ou políticas.
                        </p>
                        <p>
                            - Em conexão com uma transação corporativa substancial, como a venda de nossos negócios, uma
                            alienação, fusão, consolidação ou venda de ativos ou no evento improvável de falência.
                        </p>
                        <p>
                            Informações agregadas e/ou não pessoais. Podemos usar e compartilhar informações não pessoais
                            que
                            coletamos sob qualquer uma das circunstâncias acima. Também podemos compartilhá-las com outras
                            empresas terceiras para desenvolver e entregar anúncios específicos em nosso serviço e nos sites
                            ou
                            aplicativos de terceiros e para analisar e prestar informações sobre os anúncios que você vê.
                            Podemos combinar informações não pessoais que coletamos com informações não pessoais adicionais
                            coletadas de outras fontes. Também podemos compartilhar informações agregadas, não pessoais ou
                            informações pessoais em formato não legível para humanos e com hash com terceiros, incluindo
                            conselheiros, anunciantes e investidores, com o objetivo de conduzir várias análises de
                            negócios,
                            anúncios, marketing ou outros objetivos de negócios. Por exemplo, podemos contratar um prestador
                            de
                            dados que pode coletar seus dados de registro da Web (incluindo endereço IP e informações sobre
                            seu
                            navegador ou sistema operacional), ou colocar ou reconhecer um cookie único em seu navegador
                            para
                            permitir que você receba anúncios ou conteúdo personalizados. Os cookies podem refletir dados
                            demográficos ou de outro tipo com a identificação removida vinculados a dados que você enviou
                            voluntariamente (como seu endereço de e-mail), que podemos compartilhar com um prestador de
                            dados
                            unicamente em formato não legível para humanos e com hash. Também podemos compartilhar suas
                            informações de geolocalização em formato com a identificação removida com empresas terceiras
                            para os
                            objetivos acima. Para optar por não participar do compartilhamento de suas informações de
                            geolocalização, interrompa o uso do aplicativo PetAqui.
                        </p>
                        <p>
                            Divulgação do recurso Não rastrear
                        </p>
                        <p>
                            O recurso Não rastrear (Do Not Track, “DNT”) é uma preferência de privacidade que os usuários
                            podem
                            configurar em seus navegadores da Web. O recurso DNT serve para que os usuários solicitem que
                            certas
                            informações sobre visitas na página da Web ou serviços on-line não sejam coletadas ao longo do
                            tempo. Temos o compromisso de proporcionar a você opções significativas sobre as informações que
                            coletamos. Entretanto, não reconhecemos nem respondemos a sinais DNT, enquanto o setor da
                            Internet
                            trabalha para definir exatamente o que o DNT significa, o que significa cumprir o DNT e uma
                            abordagem comum para responder ao DNT.
                        </p>
                        <p>
                            Sites de terceiros
                        </p>
                        <p>
                            Há diversos locais em nosso serviço onde você pode clicar em um link para acessar outros sites
                            que
                            não atuam sob esta política de privacidade. Por exemplo, se você clicar em um anúncio em nosso
                            serviço, você pode ser levado a um site que não controlamos. Esses sites de terceiros podem
                            solicitar e coletar informações de forma independente, incluindo suas informações pessoais e, em
                            alguns casos, nos fornecer informações sobre suas atividades nesses sites. Recomendamos que você
                            consulte as declarações de privacidade de todos os sites de terceiros que visitar, clicando no
                            link
                            “privacidade”, localizado na parte inferior da página da Web que você está visitando.
                        </p>
                        <p>
                            Como você pode acessar e corrigir suas informações
                        </p>
                        <p>
                            Se você tiver uma conta do aplicativo PetAqui, você tem a capacidade de analisar e atualizar
                            suas
                            informações pessoais no serviço abrindo sua conta e indo até as configurações. As leis de
                            privacidade aplicáveis podem permitir que você acesse e/ou solicite a correção de erros ou de
                            omissões em suas informações pessoais que estão em nossa custódia ou sob nosso controle. Nosso
                            diretor de privacidade ajudará você com o pedido de acesso.
                        </p>
                        <p>
                            Responderemos aos pedidos dentro do tempo permitido por todas as leis de privacidade aplicáveis
                            e
                            faremos todos os esforços para responder de forma mais precisa e completa possível. As correções
                            feitas nas informações pessoais serão enviadas imediatamente a qualquer organização para a qual
                            foram divulgadas.
                        </p>
                        <p>
                            Em certas circunstâncias excepcionais, talvez não seja possível permitir o acesso a certas
                            informações pessoais que mantemos. Por motivos de segurança, nem todas as informações pessoais
                            podem
                            ser acessadas e alteradas pelo diretor de privacidade. Se acessos ou correções não puderem ser
                            fornecidos, notificaremos o indivíduo, fazendo a solicitação no prazo de 30 dias, por escrito,
                            sobre
                            os motivos da rejeição.
                        </p>
                        <p>
                            Retenção de dados
                        </p>
                        <p>
                            Mantemos suas informações somente pelo tempo necessário, para fins comerciais legítimos e
                            conforme
                            permitido pelos requisitos legais aplicáveis. Se você encerrar sua conta, manteremos certos
                            dados
                            para fins analíticos e integridade da manutenção dos registros, assim como para evitar fraudes,
                            fazer cumprir nossos Termos de Uso, agir quando necessário para proteger a integridade do nosso
                            serviço ou de nossos usuários, entre outras medidas legais aplicáveis. Além disso, se certas
                            informações já tiverem sido fornecidas a terceiros como descrito nesta política de privacidade,
                            a
                            retenção de tais informações estará sujeita às políticas dos terceiros.
                        </p>
                        <p>
                            Suas opções sobre a coleta e uso de suas informações
                        </p>
                        <p>
                            <ul class="ul-terms">
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Você pode optar por não nos fornecer certas informações, mas isso poderá ter o seguinte
                                    resultado: você não poderá usar certos recursos de nosso serviço porque tais informações
                                    podem ser necessárias para você se registrar como usuário, comprar produtos ou serviços,
                                    participar de um concurso, promoção, pesquisa ou sorteios, fazer uma pergunta ou iniciar
                                    outras transações.
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Nosso serviço também pode entregar notificações em seu telefone ou dispositivo móvel.
                                    Você
                                    pode desativar tais notificações, acessando as “Configurações” no aplicativo ou
                                    alterando as
                                    configurações no seu dispositivo móvel.
                                </li>
                                <li><i class="fa fa-paw icon-terms" aria-hidden="true"></i>
                                    Você também pode controlar as informações coletadas pelos cookies. Você pode excluir ou
                                    recusar cookies alterando as configurações do navegador. Clique em “Ajuda” na barra de
                                    ferramentas da maioria dos navegadores para obter instruções.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Como protegemos suas informações pessoais
                        </p>
                        <p>
                            Adotamos medidas de segurança para ajudar a proteger suas informações pessoais contra o acesso e
                            a
                            divulgação não autorizados por terceiros mal intencionados. Entretanto, nenhum sistema pode ser
                            completamente seguro. Portanto, apesar de tomarmos medidas para proteger suas informações, não
                            prometemos, e você não deve esperar, que suas informações pessoais, conversas ou outras
                            comunicações
                            sempre permanecerão seguras. Os usuários também devem tomar cuidado com a forma como lidam e
                            divulgam suas informações pessoais e devem evitar enviar informações pessoais através das abas
                            de
                            relacionamento entre usuários (chat).
                        </p>
                        <p>
                            Você concorda que podemos nos comunicar com você eletronicamente a respeito de problemas de
                            segurança, privacidade e administrativos, como violações de segurança. Podemos publicar um aviso
                            sobre nosso serviço se uma violação de segurança ocorrer. Nós também podemos enviar um e-mail
                            para
                            você no endereço de e-mail que você forneceu para nós. Você pode ter o direito legal de receber
                            este
                            aviso por escrito. Para receber um aviso por escrito de uma violação de segurança (ou para
                            retirar
                            seu consentimento sobre o recebimento de avisos eletrônicos) nos notifique pelo chat dentro do
                            aplicativo, ou ainda através do e-mail contato@petaqui.com.br
                        </p>
                        <p>
                            As informações que você fornece a seu respeito ao usar nosso serviço
                        </p>
                        <p>
                            Fornecemos áreas em nosso serviço onde você pode publicar informações sobre si mesmo, sobre seus
                            animais e se comunicar com outras pessoas. Tais publicações são regulamentadas por nossos Termos
                            de
                            Uso. Além disso, quando você divulgar informações pessoais em páginas públicas, tais informações
                            ficarão disponíveis e poderão ser coletadas e usadas por outras pessoas. Por exemplo, se você
                            publicar seu endereço de e-mail, você poderá receber mensagens que não foram solicitadas. Não
                            temos
                            controle sobre quem lerá suas publicações ou sobre o que outros usuários poderão fazer com as
                            informações que você disponibilizar voluntariamente, portanto pedimos que você seja discreto e
                            cauteloso com relação às suas informações pessoais. A menos que seja exigido por uma ordem
                            judicial
                            ou por algum outro processo judicial semelhante, as mensagens que você enviar para outros
                            usuários
                            só serão acessíveis em nosso serviço (a não ser que você solicite uma cópia de suas mensagens de
                            acordo com a lei aplicável). Caso queira receber uma cópia das mensagens que você recebeu de
                            outros
                            usuários em nosso serviço, primeiro, você deve receber uma autorização prévia por escrito desses
                            usuários e, em seguida, entrar em contato com nosso diretor de privacidade.
                        </p>
                        <p>
                            Privacidade de crianças
                        </p>
                        <p>
                            Nosso serviço é voltado ao público geral e não restringimos o uso de nosso serviço a nenhuma
                            faixa
                            etária. Embora não limitemos a idade dos usuários do aplicativo PetAqui, recomendamos o uso para
                            maiores de 18 anos, ou, no caso de menores de 18 anos, que tenha acompanhamento de um
                            responsável.
                            Sendo assim, não nos responsabilizamos por mau uso ou exposição de menores.
                        </p>
                        <p>
                            Não coletamos, mantemos ou usamos, de forma consciente, informações pessoais de crianças com
                            menos
                            de 18 anos. Caso um menor acesse e se cadastre no sistema, estaria totalmente responsável pela
                            sua
                            ação, resguardando-se, portanto, nossa responsabilidade de uso.
                        </p>
                        <p>
                            Transferência subsequente e consentimento para processamento internacional
                        </p>
                        <p>
                            Podemos empregar outras empresas e indivíduos para realizar funções em nosso nome. Se divulgamos
                            informações pessoais a um terceiro, devemos buscar garantias de que as informações fornecidas a
                            eles
                            são protegidas adequadamente e que estão em conformidade com esta política de privacidade e com
                            os
                            requisitos das leis de privacidade aplicáveis.
                        </p>
                        <p>
                            Se você estiver visitando a partir da União Europeia ou de outras regiões com leis que
                            regulamentam
                            a coleta e o uso de dados, observe que você concorda com a transferência de seus dados pessoais,
                            incluindo dados sensíveis, pela PetAqui de sua região para países que não têm leis de proteção
                            de
                            dados que proporcionam o mesmo nível de proteção que existe nos países do Espaço Econômico
                            Europeu,
                            incluindo os Estados Unidos. Ao fornecer suas informações pessoais, você autoriza qualquer
                            transferência e processamento de acordo com esta política.
                        </p>
                        <p>
                            Sem direitos de terceiros.
                        </p>
                        <p>
                            Esta política de privacidade não cria direitos executáveis por terceiros ou exige a divulgação
                            de
                            informações pessoais relacionadas aos usuários do site.
                        </p>
                        <p>
                            Alterações desta política de privacidade
                        </p>
                        <p>
                            Ocasionalmente atualizaremos esta política de privacidade para refletir alterações na lei,
                            nossas
                            práticas de coleta e uso de dados, os recursos de nosso serviço ou avanços tecnológicos. Quando
                            publicarmos alterações nesta política de privacidade, modificaremos a data da “atualização mais
                            recente” na parte superior desta política de privacidade, que será publicada nos serviços em
                            “Configurações”. Você deve verificar com regularidade em busca da versão mais recente, que é a
                            versão que se aplica. Se fizermos alterações importantes nesta política de privacidade,
                            notificaremos você sobre as alterações por meio de meios razoáveis, o que pode incluir
                            notificações
                            por meio dos serviços ou por e-mail. Analise as alterações atentamente. Seu uso contínuo dos
                            serviços, após a publicação das alterações desta política, significará que você autoriza e
                            aceita
                            tais alterações. Se você não autorizar tais alterações, você poderá excluir sua conta, seguindo
                            as
                            instruções em "Configurações". Como entrar em contato conosco Se você tiver dúvidas sobre esta
                            política de privacidade, entre em contato conosco via chat dentro do aplicativo, ou ainda
                            através do
                            e-mail contato@petaqui.com.br
                        </p>
                        <p>
                            Equipe PetAqui
                        </p>
                        <p><strong>Contato: </strong>contato@petaqui.com.br</p>
                    </article>
                </div>


            </div>
        </div>
    </section>
    <div class="espaco-branco"></div>
</section>
<%- include('../partials/footer') %>