<footer>
    <div class="row">
        <div class="col-3 ml-2 pr-0">
            <img src="/images/logosemborda.png"
                    class="img-responsive d-flex justify-content-start"
                    alt="logo">
        </div>
        <div class="col-10 order-3 order-sm-1 offset-1 offset-sm-0 col-sm-5
                    d-flex align-items-center justify-content-center">
            <div class="p-0">
                <small>Copyright 2020 - PetAqui - Todos os direitos   reservados&copy;
                </small>
            </div>
        </div>
        <div class="row col-5 offset-3
                    order-sm-3 offset-sm-1 col-sm-3 
                    col-md-4 offset-md-0 offset-lg-2 col-lg-2 
                    p-0 d-flex justify-content-center">
            <a href="#" class="item-footer col-1 col-sm-1">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="#" class="item-footer col-1 col-sm-1">
                <i class="fab fa-instagram-square fa-2x"></i>

            </a>
            <a href="#" class="item-footer col-1 col-sm-1">
                <i class="fab fa-twitter-square fa-2x"></i>

            </a>
        </div>                    
    </div>
</footer>
<script>
    const imgArquivo = (e) => {
      const fileReader = new FileReader();
      fileReader.onload = () => {
        let preview = document.querySelector('.preview-img');
        preview.src = fileReader.result;
      }
      fileReader.readAsDataURL(e.target.files[0]);
    };
  </script>
</body>
</html>