<main id="main-footer">

</main>
<footer>
    <div class="footer ">
        <div class="container-footer">
            <div class="row d-flex mr-0">
                <div class="col-md-3 col-sm-6 col-xs-12 ml-5 pr-0">
                    <img src="/images/logosemborda.png" class="img-responsive d-flex justify-content-start" alt="logo">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 pl-0">
                    <div class="copyright text-center d-inline-flex align-items-start ">
                        <small>Copyright <script>document.write(new Date().getFullYear());</script> - PetAqui - Todos os direitos reservados&copy;</small>
                    </div>
                   
                </div>
                <!-- <div class="col-md-2 col-sm-6 col-xs-12">
                    <ul class="ul-footer">
                        <li class="item-footer"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="item-footer"><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                        <li class="item-footer"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    </ul>

                </div>                     -->
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</html>