<header>
        <nav class="navbar navbar-expand-md navbar-light">

        <a class="navbar-brand" href="#">
            <img src="public\images\logosemborda.png" alt="logo PetAqui"class="" id="logo" >
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
              </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#"> Encontrar Pets</a>          
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Pets Encontrados</a>          
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Adoção</a>          
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Sobre</a>          
            </li>


          </ul>
          
          <button class="btn-primary login">Entrar</button>
          <button class="btn-primary register ml-1">Criar uma conta</button>
          </form>
        </div>
      </nav>
</header>
