
<header class="collapse-navbar">
    <div class="row h-100">
        <a href="" class="col-2 h-100" >
            <img src="../projeto-pets/public/images/LogoPetAqui9.png" alt="logo"class="h-100">
        </a>
        <nav class="col-5 h-100 w-100">
            <ul class= " m-0 d-flex align-items-center h-100 w-100 g-warning">
                    <a href=""><li>Encontrar Pet</li></a>
                    <a href=""><li>Pets Encontrados</li></a>
                    <a href=""><li>Adoção</li></a>
                    <a href=""><li>Sobre</li></a>
                </li>
            </ul>
        </nav>
        <nav class="col-4 d-flex align-items-center justify-content-space-between">
               
            <button class="btn-primary offset-1 col-3 login">Entrar</button>
            <button class="btn-primary offset-1 col-4 register">Criar uma conta</button>
        </nav>
    </div>
</header>