<header class="container-fluid header">
    <div class="row"> 
        <nav class="col-8 menuHeader">
            <ul class=" container-fluid d-flex ">
                <a href="" class="logo mr-2" >
                    <img src="images/LogoPetAqui9.png" alt="logo"class="logo">
                </a>  
                <a class="menuItem" href=""><li>Encontrar Pet</li></a>
                <a class="menuItem" href=""><li>Pets Encontrados</li></a>
                <a class="menuItem" href=""><li>Adoção</li></a>
                <a class="menuItem" href=""><li>Sobre</li></a>          
            </ul>    
        </nav>
        <nav class="col-4 userHeader row d-flex
                    justify-content-center align-items-center">
            <img src="images/fotoPerfil.jpg" alt="foto" class="foto mt-1">
            <div class="col-6 d-flex align-items-center">
                <a id="nameHeader" class="">Doida dos Gatos</a>
            </div>
            <button class="btn col-3 logout">Sair</button>
        </nav>
    </div>
</header>