<header  id="header-sem-login">
        <nav class="navbar navbar-expand-md navbar-light" id="navbarsemlogin">

        <a class="navbar-brand" href="#" id="logoheader">
            <img src="public\images\logosemborda.png" alt="logo PetAqui"class="" id="logosemlogin" >
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item" id="liheader">
                <a class="nav-link" href="#"> Encontrar Pets</a>          
            </li>
            <li class="nav-item" id="liheader">
                <a class="nav-link" href="#"> Pets Encontrados</a>          
            </li>
            <li class="nav-item" id="liheader">
                <a class="nav-link" href="#"> Adoção</a>          
            </li>
            <li class="nav-item" id="liheader">
                <a class="nav-link" href="#"> Sobre</a>          
            </li>


          </ul>
          
          <button class="btn-primary " id="login">Entrar</button>
          <button class="btn-primary ml-1" id="register">Criar uma conta</button>
          </form>
        </div>
      </nav>
</header>
