<header class="container-fluid header">
    <nav class="navbar menuHeader navbar-expand-lg navbar-light
    row">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/images/logo.png"
                alt="logo PetAqui"class="logo" id="logo" >
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#"> Encontrar Pets</a>          
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Pets Encontrados</a>          
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Adoção</a>          
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Sobre</a>          
                </li>
            </ul>
        </div>
        <nav class="col-4 userHeader d-flex justify-content-around
                    align-items-center">
            <img src="../../../../assets/images/fotoPerfil.jpg" alt="foto" class="foto mt-1">
            <div class="">
                <a id="" class="name-header">Doida dos Gatos</a>
            </div>
            <button class="logout">Sair</button>
        </nav>       
    </nav>
</header>

