<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/footer.css'/>
    <link rel="stylesheet" href="/stylesheets/forgot-password.css">
    <link rel="stylesheet" href="/stylesheets/header-logged.css">
    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/lost-found-pets.css">
    <link rel='stylesheet' href='/stylesheets/about.css'/>
    <link rel='stylesheet' href='/stylesheets/register-lost-found-pets.css'/>
    <link rel='stylesheet' href='/stylesheets/edit-user.css'/>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/gridCard.css'/>
    <link rel='stylesheet' href='/stylesheets/homeCard.css'/>
    <link rel="stylesheet" href="/stylesheets/adoption-pets-profile.css">
    <link rel="stylesheet" href="/stylesheets/lost-found-pets-profile.css">
    <link rel="stylesheet" href="/stylesheets/owner-profile.css">
    <link rel="stylesheet" href="/stylesheets/pet-status-line.css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <script src="https://kit.fontawesome.com/a5eec68bd8.js" crossorigin="anonymous"></script>
  </head>
  <body>