<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/stylesheets/style.css">

<header>
    <nav class="menu">
        <a href="" class="logo" >
            <img src="../../public/images/LogoPetAqui9.png" alt="logo"class="logo">
        </a>    
        <div class="menuHeader">
            <a href="">Encontrar Pet</a>
            <a href="">Pets Encontrados</a>
            <a href="">Adoção</a>
            <a href="">Sobre</a>
        </div>
    </nav>
    <nav class="user">
        <a href="">
            <img src="../../public/images/fotoPerfil.jpg" alt="foto" id="fotoUser">
        </a>
        <a href="">
            <div id="nameUser"><span>Doida dos Gatos</span></div>
        </a>
    </nav>
    <div id=logout>
        <button class="btn logout">Sair</button>
    </div>