
  <section class="col-md-2 sidebarPets">
    <section class="row"">
      <section class="col-md-12 mb-3">
        <h4 class=" text-center">Outros pets</h2>
      </section>
      <section class="col-md-12 sidebarPets__cards">
        <article class="col-md-11 card card-pet mb-2">
          <a href="#" class="card-pet__link">
            <img src="/images/black-cat-3739702_1920.jpg" class="card-img-top card-pet__img" alt="../../public/images/black-cat-3739702_1920.jpg">
            <section class="card-body card-pet__body">
              <h5 class="card-title text-center">Card title</h5>
            </section>
          </a>
          </article>
        <article class="col-md-11 card card-pet mb-2">
          <img src="/images/black-cat-3739702_1920.jpg" class="card-img-top card-pet__img" alt="/images/black-cat-3739702_1920.jpg">
          <section class="card-body card-pet__body">
            <h5 class="card-title text-center">Card title</h5>
          </section>
        </article>
        <article class="col-md-11 card card-pet mb-2">
          <img src="/images/black-cat-3739702_1920.jpg" class="card-img-top card-pet__img" alt="/images/black-cat-3739702_1920.jpg">
          <section class="card-body card-pet__body">
            <h5 class="card-title text-center">Card title</h5>
          </section>
        </article>
        <article class="col-md-11 card card-pet mb-2">
          <img src="/images/black-cat-3739702_1920.jpg" class="card-img-top card-pet__img" alt="../../public/images/black-cat-3739702_1920.jpg">
          <section class="card-body card-pet__body">
            <h5 class="card-title text-center">Card title</h5>
          </section>
        </article>
      </section>
    </section>
  </section>


  <!-- <main class="container-fluid">
    <section class="row">
      <section class="col-md-10"></section>
      <%- include('partials/sidebar-pets') %>
    </section>
  </main> -->
  