
  <section class="col-md-2 float-right">
    <section class="row"">
      <section class="col-md-12">
        <h4 class=" text-center">Outros pets</h2>
      </section>
      <section class="col-md-12 sidebarPets__cards">
        <article class="col-md-11 card  mb-3">
          <img src="..." class="card-img-top" alt="...">
          <section class="card-body">
            <h5 class="card-title text-center">Card title</h5>
          </section>
        </article>
        <article class="col-md-11 card  mb-3">
          <img src="..." class="card-img-top" alt="...">
          <section class="card-body">
            <h5 class="card-title text-center">Card title</h5>
          </section>
        </article>
        <article class="col-md-11 card  mb-3">
          <img src="..." class="card-img-top" alt="...">
          <section class="card-body">
            <h5 class="card-title text-center">Card title</h5>
          </section>
        </article>
        <article class="col-md-11 card  mb-3">
          <img src="..." class="card-img-top" alt="...">
          <section class="card-body">
            <h5 class="card-title text-center">Card title</h5>
          </section>
        </article>
      </section>
    </section>
  </section>

  <!-- <section class="row">
    <section class="col-md-10"></section>
    <%- include('partials/sidebar-pets') %>
  </section> -->