<div class="bg-light border-right <%= !sidebarIsVisible ? 'd-none' : '' %>" id="sidebar-wrapper">
  <div class="sidebar-heading"><img src="/images/logosemborda.png" class="logo-pets"></div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Home</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Pets para adoção</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Encontrar meu pet</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Cadastrar novo</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Editar perfil</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Termos de uso</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Sobre</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Sair</a>
  </div>
</div>

<div id="page-content-wrapper">

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand <%= sidebarIsVisible ? 'd-none' : '' %>"" href="#">PetAqui</a>
    <button class="btn btn-primary  <%= !sidebarIsVisible ? 'd-none' : '' %>" id="menu-toggle"><i class="fas fa-bars"></i></button>

    <button class="navbar-toggler <%= sidebarIsVisible ? 'd-none' : '' %>" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Sobre <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Entrar
            <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Login</a>
            <a class="dropdown-item" href="#">Criar conta</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>