<section class="container">
  <div class="card-header bg-transparent">Pets para adoção</div>
  <div class="card-body">
    <img class="card-img-top" src="/images/buldog.png" alt="Card image cap" />
  </div>
  <div class="card-footer">
    <span class="card-footer bg-transparent">Tom</span>
    <span class="card-footer bg-transparent">18:51</span>
  </div>
</section>
