<section class="row homeCard">
  <section class="col-md-12 homeCard-header">
    <p>14:59</p>
  </section>
  <section class="col-md-12 mb-2">
    <img src="/images/black-cat-3739702_1920.jpg" class="img-thumbnail" >
  </section>
  <section class="col-md-12 homeCard-detail">
    <p>Pet's name</p>
    <section class="gridCard-badge encontrado">
    </section>
  </section>
</section>