<section class="container border">
  <div class="row justify-content-end mt-3 mr-4 pb-0">
    <div class="badge-adoption">A</div>
  </div>
  <div class="card-body pt-2 pb-2">
    <img class="card-img-top" src="/images/buldog.png" alt="Card image cap" />
  </div>
  <div class="row">
    <div class="col text-start pl-5 ">
      <span class="bg-transparent">Tom</span>
      
    </div>
        <div class="col text-start mb-3">
          <span class="bg-transparent">18:51</span>
    
        </div>
  </div>
</section>
