<section class="card gridCard" style="max-width: 300px;">
  <img src="images/black-cat-3739702_1920.jpg" class="card-img-top" alt="...">
  <section class="card-body gridCard-body badge">
    <h5 class="card-title gridCard-title">Pet's name</h5>
    <section class="gridCard-badge adocao">
    </section>
  </section>
</section>
