<div class="card m-2" style="width: 12rem">
    <img src="<%= image %>" class="card-img-top pet-foto" alt="...">
    <div class="card-body">
        <div class="d-flex justify-content-evenly">
            <h5 class="card-title offset-2 col-8"><%= nome %></h5>
            <div class="situation"
            <% if (situation == 'P') { %>
                style="background-color: green;"
            <% } %>
            ><%=situation %></div>
        </div>
      <div class="d-flex justify-content-around">
          <a href="/pets-perdidos-encontrados/editar-pet" class="btn card-bottom col-6">Editar</a>
          <a href="#" class="btn card-bottom col-6 offset-1">Excluir</a>
      </div>
    </div>
</div>

<!-- <div class="card grid-pets-item" style="width: 18rem;">
  <a href="/perfil-pet-encontrado">
      <img class="card-img-top" src="/images/cachorro.jpg" alt="Pet perdido/encontrado">
  </a>
  <div class="card-body">
      <div class="container-card-info mb-1">
          <a href="/perfil-pet-encontrado">
              <p class="card-text">Sem nome</p>
          </a>
          <div class="badge-found">E</div>
      </div>
      <div class="container-card-info">
        <a href="/pets-perdidos-encontrados/editar-pet" class="btn card-bottom col-5">Editar</a>
  <a href="#" class="btn card-bottom col-5 ">Excluir</a>
    </div>
  </div>
</div> -->