<section class="modal" tabindex="-1" role="dialog" id="modal-petEncontrado">
  <section class="modal-dialog" role="document">
    <section class="modal-content">
      <section class="modal-header">
        <h5 class="modal-title">O que devo fazer ao encontrar um pet?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </section>
      <article class="modal-body">
        <p class="modal-question">Recomendamos que siga os seguintes passos:</p>

      <p class="modal-question">O pet está abrigado?</p>
         <span class="modal-response"> que de abrigo ao pet ou entre em contato com uma ong.</span>
        
      <p class="modal-question">O pet foi abandonado?</p>
       <span class="modal-response">em caso de abandono, ligar para xxxx.</span>
        
      <p class="modal-question">Quanto tempo devo esperar?</p>
       <span class="modal-response">recomendamos que deixe o post por xxx dias.</span>
        
        <p class="modal-question">O que posso fazer para encontrar o dono rapidamente?</p>
       <span class="modal-response">Nosso site envia um aviso a pessoas a xx km de distância do pet, mas você também pode compartilhar o post em suas redes sociais.</span>
        
        
        
        
        
        
        
      </artcle>
    </section>
  </section>
</section>