<div class="row " >
    <div class="col-12 d-flex column justify-content-around">
        <div class="card text-center desativado" id="tamanho"  data-toggle="tooltip" data-placement="bottom" title="Tamanho">
            <div class="card-body py-3">
                <i class="fa fa-weight-hanging"></i>

                <!--  if(pet.porte == 'pequeno'){ adiciona letra p } -->
                
                <!--  if(pet.porte == 'médio'){ adiciona letra m } -->
                
                <!--  if(pet.porte == 'grande'){ adiciona letra g } -->
                
                <!--  if(pet.porte == 'gigante'){ adiciona gg } -->

                <!--  if(pet.porte == 'nao sei'){ - adiciona classe desativado } -->
            </div>
        </div>


        <div class="card text-center" id="vacinado" data-toggle="tooltip" data-placement="bottom" title="Vacinado">
            <div class="card-body py-3">
                <i class="fa fa-syringe" ></i>
                 <!--  if(pet.vacinado == false){ - adiciona classe desativado } -->
            </div>
        </div>


        <div class="card text-center" id="vermifugado"  data-toggle="tooltip" data-placement="bottom" title="Vermifugado">
            <div class="card-body py-3">
                <i class="fas fa-pills "></i>
             <!--  if(pet.vermifugado == false){ - adiciona classe desativado } -->
            </div>
        </div>


        <div class="card text-center " id="castrado"  data-toggle="tooltip" data-placement="bottom" title="Castrado">
            <div class="card-body py-3">
                <i class="fa fa-clipboard-list"></i>
                <!--  if(pet.castrado == false){ - adiciona classe desativado } -->
            </div>
        </div>

    </div>
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
        </script>