<%- include('./partials/head', { title: 'Cadastrar Pet para adoção'}) %>
<section class="d-flex" id="wrapper">
  <%- include('./partials/sidebar', { sidebarIsVisible: true}) %>
  <section class="container-fluid" style="height: 80.5vh;display: flex;justify-content: center;">
    <img src='/images/404pag.png' style="width: 50%;align-self: center;height: 75%;">
  </section>
</section>
<%- include('./partials/footer') %>