<%- include('partials/head', { title: 'Home'}) %>
<section class="d-flex" id="wrapper">
  <%- include('partials/sidebar', { sidebarIsVisible: false }) %>
  <section class="container-fluid home-main-content__container" style="margin-top: -40px;">
    <!-- CARROSSEL -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/banner-cachorro-v2.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>

    <!-- Espaçamento em branco -->
    <div class="espaco-branco"></div>

    <!-- Grid Pets Perdidos -->
    <h2 class="display-4 text-center my-4">Últimos Pets Perdidos e Encontrados</h2>
    <section class="container-fluid fundo-pegadas-h370">
      <div class="row">
        <div class="col-md-12 grid-home__container">
          
          <!-- Card 1 -->
          <div class="card grid-item col-12 col-md-3" style="width: 18rem;">
            <a href="/pet/perfil">
              <img src="/images/cachorro.jpg" class="card-img-top grid-miniatura">
            </a>
            <div class="card-body d-flex justify-content-between">
              <div class="card-text">
                <strong>Nome: </strong>
              </div>
              <div class="localizacao-pet">
                <i class="fa fa-map-marker" aria-hidden="true"> 2 km</i>
              </div>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="card grid-item col-12 col-md-3" style="width: 18rem;">
            <a href="/pet/perfil">
              <img src="/images/cachorro.jpg" class="card-img-top grid-miniatura">
            </a>
            <div class="card-body d-flex justify-content-between">
              <div class="card-text">
                <strong>Nome: </strong>
              </div>
              <div class="localizacao-pet">
                <i class="fa fa-map-marker" aria-hidden="true"> 1 km</i>
              </div>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="card grid-item col-12 col-md-3" style="width: 18rem;">
            <a href="/pet/perfil">
              <img src="/images/cachorro.jpg" class="card-img-top grid-miniatura">
            </a>
            <div class="card-body d-flex justify-content-between">
              <div class="card-text">
                <strong>Nome: </strong>
              </div>
              <div class="localizacao-pet">
                <i class="fa fa-map-marker" aria-hidden="true"> 2 km</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Botao Ver todos -->
    <div class="container-botao">
      <a class="btn btn-primary botao-medio-amarelo" href="/pet/">VER TODOS</a>
    </div>

    <!-- Espaçamento em branco -->
    <div class="espaco-branco"></div>

    <!-- Grid Pets para Adoção -->
    <h2 class="display-4 text-center my-4">Últimos Pets para Adoção</h2>
    <section class="container-fluid fundo-pegadas-h370">
      <div class="row">
        <div class="col-md-12 grid-home__container">
          <!-- Card 1 -->
          <div class="card grid-item col-12 col-md-3" style="width: 18rem;">
            <a href="/pet/perfil">
              <img src="/images/gato.jpg" class="card-img-top grid-miniatura">
            </a>
            <div class="card-body d-flex justify-content-between">
              <div class="card-text">
                <strong>Nome: </strong> Chico
              </div>
              <div class="localizacao-pet">
                <i class="fa fa-map-marker" aria-hidden="true"> 2 km</i>
              </div>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="card grid-item col-12 col-md-3" style="width: 18rem;">
            <a href="/pet/perfil">
              <img src="/images/gato.jpg" class="card-img-top grid-miniatura">
            </a>
            <div class="card-body d-flex justify-content-between">
              <div class="card-text">
                <strong>Nome: </strong> Chico
              </div>
              <div class="localizacao-pet">
                <i class="fa fa-map-marker" aria-hidden="true"> 4 km</i>
              </div>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="card grid-item col-12 col-md-3" style="width: 18rem;">
            <a href="/pet/perfil">
              <img src="/images/gato.jpg" class="card-img-top grid-miniatura">
            </a>
            <div class="card-body d-flex justify-content-between">
              <div class="card-text">
                <strong>Nome: </strong> Chico
              </div>
              <div class="localizacao-pet">
                <i class="fa fa-map-marker" aria-hidden="true"> 4 km</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Botao Ver todos -->
    <div class="container-botao">
      <a class="btn btn-primary botao-medio-amarelo" href="/pet/adocao">VER TODOS</a>
    </div>

    <!-- Espaçamento em branco -->
    <div class="espaco-branco"></div>

    <!-- Espaçamento em branco -->
    <div class="espaco-branco"></div>

    <div class="jumbotron jumbotron-fluid fundo-pegadas-h370">
      <div class="lateral-cta">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-sm-12 col-12 area-texto-cta">
              <h1 class="display-4">Como posso ajudar?</h1>
              <p class="">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Ex et id incidunt voluptatum earum. Accusantium praesentium,
                voluptatem commodi consectetur minus adipisci porro eos placeat
                est ullam dolorum accusamus corporis iste. </p>
              <a class="btn btn-primary botao-medio-verde" href="/sobre">CONHECER MAIS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Espaço em branco -->
    <div class="espaco-branco"></div>
    <%- include('partials/footer') %>
  </section>
</section>