<%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="stylesheets/header-logged.css">
<link rel="stylesheet" href="stylesheets/register-user.css">

<%- include('partials/header-logged') %>

    <div class="container-fluid">
        <%- include('partials/sidebar-menu') %>
        <div class="userRegister">
            <h2>Criar Conta</h2>
            <form action="#" method="POST" class="row">
                <label class="col-4" for="nome">Nome</label>
                <input class="col-8" type="text" name="nome" id="">
                <label class="col-4" for="email">Email</label>
                <input class="col-8" type="email" name="email" id="">
                <label class="col-4" for="senha">Senha</label>
                <input class="col-8" type="password" name="senha" id="">
            </form>
        </div>
    </div>
        

<%- include('partials/footer') %>
