:root {
  --orange: #FF9721;
  --lightgreen: #4BDBB7;
  --green: #4AB1B5;
}
.orange { background-color: var(--orange); }
.mission { background-color: var(--orange); }
.values { background-color: var(--green); }
.vision { background-color: var(--lightgreen); }
.about p { color: #000; text-align: justify; }
.about-container {
  padding: 0;
  width: 60%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.content-about,
.content-login,
.content-forgot-password {
  min-height: 94vh;
}
.about {
  background: rgb(240, 240, 240);
  padding: 7%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
}

.about-desc__imgContainer {
  display: flex;
  justify-content: center;

}

.about-desc__img {
  height: auto;
  width: 100%;
  /* min-width: 350px;
  margin-right: 30%; */

}


.about-desc__text p:first-child {
  font-weight: 700;
}

.about-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.about-info_row {
  justify-content: space-between;
}


.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-info p {
  text-align: justify;
}
.row-p{
  margin: 3%;
}