.pet-foto { height: 60% }

.card-bottom { background-color: #ff8700 }
.card h5 {
    text-align: center;
    font-size: 18px;
}
.situation {
    background-color: red;
    font-size: 25px;
    height: 30px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 5px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
}
