footer {
  background-color: #3d9194;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
}
.contato a {
  margin-right: 10px;
}
/* FOOTER */

/* configurando o logo(margem, tamanho, espaçamento) */
.img-responsive {
  width: 130px;
  background-color: #3d9194;
}
@media(max-width: 576px) { .img-responsive { width: 110px }}

/* implementando a cor de fundo no footer */

.ul-footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* Implementando largura da ocupação dos ícones */
.redes-sociais-footer {
  width: 30%;
  height: 50%;
  color: black;
}

/* Deixando os ícones das redes sociais todos pretos e implementando espaçamento */
.item-footer {
  list-style-type: none;
  margin-right: 5%; 
  color: black;
  font-size: 12px;
}
