header {
  position: fixed;        
    background-color: rgb(255, 135, 0);
    height: 55px;
    z-index: 2;
  }
  .menuHeader, .logo { height: 55px }
  .menuHeader ul { list-style: none }
  
  .menuItem {
    color: #000;
    margin-left: 5px;
    padding: 0px 10px;
  }
  .menuItem:hover { 
    background-color: #3D9194;
    color: #fff;
    text-decoration: none;
  }
  
  .foto {
    border-radius: 50%;
    height: 45px;
  }
  #nameHeader {
    color: #fff;
    text-align: center;
    font-weight: 600;
  }
  .menuItem li { margin-top: 15px }
  .userHeader { height: 45px }
  
  .logout {
    height: 30px;
    outline: none;
    background-color: #3D9194;
    color: #FFF;
    font-weight: 600;
  }