    header {
        background-color: #FF8700;
        height: 55px;
    }
    nav ul {
        list-style: none;
    }
    li:hover {
        background-color: rgba(255,255,255,0.1);    
        text-decoration: none;
    }
 
    li.selecterd {
        background-color: rgba(0,0,0,0.1);
        text-decoration: none;
    }
    

    a li {
        padding: 0px 15px;
        text-decoration: none;
        color: #000;
        text-align: center;
        width: 100%;
        font-weight: 500;
    }
    img {
        height: 40px;
    }
    .login {
        width: 100px;
        height: 40px;
        outline: none;
        background-color: white;
        border-radius: 6px;
        color: #3D9194;
        border: solid 2px #3D9194;
        box-sizing: border-box;
    }
    .register {
        width: 200px;
        height: 40px;
        outline: none;
    border-radius: 6px;
    border: solid 2px #3D9194;
    background-color: #3D9194;
    color: white;
    box-sizing: border-box;
    /* white-space: nowrap; */
    }

    .login:hover{
        background-color: rgb(226, 226, 226);   
        text-decoration: none;
        border: solid 2px #3D9194;
        color: #3D9194;

    }


    .register:hover{
        background-color: rgb(58, 133, 135);     
        border: solid 2px #3D9194;
        color: white;

    }