#headercomlogin {       
  background-color: rgb(255, 135, 0);
  height: 55px;
  margin-bottom: 20px;
}
.menuHeader, .logo { height: 50px }
.menuHeader ul { list-style: none }

.menuItem {
color: #000;
margin-left: 5px;
padding: 0px 10px;
}
.menuItem:hover { 
background-color: #3D9194;
color: #fff;
text-decoration: none;
}

.foto {
border-radius: 50%;
height: 45px;
}
.nameHeader {
color: #fff;
text-align: center;
font-weight: 600;
}
.menuItem li { margin-top: 15px }
.userHeader { height: 45px }

.logout {
height: 35px;
width: 100px;
outline: none;
border: solid 2px #3D9194;
border-radius: 6px;
background-color: #3D9194;
color: #FFF;
}

@media (max-width: 550px) {
.name-header { font-size: 12px }
}
@media (max-width: 992px) {
.menuHeader { margin-bottom: 20px }
}