/* Configuração do container em volta dos cards */
.div-cardContainer {
  /* width: 85%; */
  padding: 5%;
  /* box-shadow: 0px 0px 10px 0px;
  border-radius: 5px;
  background-color:rgb(240, 240, 240); */
  margin: auto;
}