/* FOOTER */

/* configurando o logo(margem, tamanho, espaçamento) */
.img-responsive {
  width: 150px;
  background-color: #3d9194;
  margin-left: 20%;
  padding-top: 3%;
  padding-bottom: 2%;
}

/* implementando a cor de fundo no footer */
.navbar {
  background-color: #3d9194;
}
.navbar-brand {
  padding: inherit;
}

/* Implementando largura da ocupação dos ícones */
.redes-sociais {
  width: 20%;
}

/* Deixando os ícones das redes sociais todos pretos e implementando espaçamento */
.facebook,
.instagram,
.twitter {
  color: black;
  padding-right: 20%;
}
