/* Container para receber todo o código da home para sobrescrever o background */
.home-main-content__container {
  background: none;
  background-color: #333;
  /* zera o padding do container-fluid */
  padding-left: 0;
  padding-right: 0;
}
/* CARROSSEL */

/* Aumenta o tamanho dos botões de navegação */
.carousel-control-next-icon, .carousel-control-prev-icon {
  padding: 30px;
}
/* Ajusta altura do banner rotativo da landing page */
.carousel-item img {
  min-height: 63vh;
}

/* GRID DE PETS */
.grid-home__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10%;
}
.localizacao-pet {
  opacity: 0.6;
}
.espaco-branco {
  min-height: 80px;
}
.titulo-centralizado {
  text-align: center;
}
.container-pets {
  background: url('/images/background-paw.png');
  min-height: 300px;
  padding: 15px 150px;
}
.grid-miniatura {
  width: 100%;
  height: 300px;
}
.grid-item {
  margin: 10px 0;
  /* zera o padding padrão do componente bootstrap */
  padding-right: 0;
  padding-left: 0;
}
.container-botao {
  display: flex;
  justify-content: center;
}
.botao-medio-amarelo {
  color: #000;
  font-weight: 500;
  padding: 10px 70px;
  margin: 10px 0;
  border: none;
  background-color: #FFDC73;
}
.botao-medio-amarelo:hover {
  color: #000;
  background-color: #FF9721;
}

/* CALL TO ACTION 'COMO POSSO AJUDAR?' */

/* Sobrescreve a classe do componenete Jumbotron (call to action) */
.jumbotron {
  padding: 0;
}
/* ********** */
/* Área com max-height de 370px e com background de pegadas. 
Usado no call to action e no grid*/
.fundo-pegadas-h370 {
  background: url('/images/fundo2.png');
  background-size: 70%;
  /* max-height: 370px; */
}
/* ********** */
.lateral-cta {
  background: url('/images/banner-cachorro-v3.png');
  background-position: right;
  background-size: 22%;
  background-repeat: no-repeat;
  height: 340px;
  display: flex;
  align-items: center;
}
.area-texto-cta {
  background-color: rgba(242, 242, 242, 0.9);
  padding: 20px;
}
.botao-medio-verde {
  color: #000;
  font-weight: 500;
  padding: 15px 80px;
  margin: 10px 0;
  border: none;
  background-color: #4BDBB7;
}
.botao-medio-verde:hover {
  color: #000;
  background-color: #3D9194;
}

/* Adiciona altura fixa para as imagens de pets da home */
.grid-pets-item img{
  height: 280px;
}

/* Altera a aparência do "link" dos cards */
.grid-pets-item a{
  text-decoration: none;
  color: inherit;
}
.grid-pets-item a:hover {
  font-weight: 600;
}

/* Altera a aparência do carrossel principal */
.carousel-inner p {
  color: #fff;
  font-size: 1.8rem;
  text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;

}
.carousel-inner h3 {
  color: #FFB861;
  font-size: 2.5rem;
  text-transform: uppercase;
  /* Adiciona borda em volta do título */
  text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;

}
/* ************** */
/* RESPONSIVIDADE */
/* ************** */

@media(max-width: 768px) {
  .lateral-cta {
    background: none;
  }
  .fundo-pegadas-h370 {
    max-height: fit-content;
  }
}