/* Card component */

.card-container-login {
  max-width: 370px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px;
  background: #fff2cc;
  margin: 0 auto 30px;
  margin-top: 35px;

  border:0px;
}

#card-header-login{
  background-color: #ff9721;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.profile-img-card {
  width: 110px;
  height: 110px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
 
}

/* Form styles */

.section-form-login{
   padding: 40px 40px;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn-login {
  color: #fff;
  background-color: #ff9721;
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  margin-top: 10%
}

.btn-login:hover{
  color: #fff;
}
  

.forgot:hover,
.forgot:active,
.forgot:focus{
  color: rgb(12, 97, 33);
}
