.pets-manager {
    /* top: var(--margin-header); */
    box-shadow: var(--shadow-box);
    background-color: var(--cards-bg-color);
    width: 70%;
    position: relative;
    left: 15%;
    border-radius: var(--border-radius);
  
}
.pets-manager h1 { 
    text-align: center;
    font-size: var(--title-fontsize);
}

.select-tipo {
    width: 150px;
}