.pets-manager {
    width: 70%;
    position: relative;
    left: 15%;
    background-color: #FFF2CC;
    border-radius: 10px;
  
}
.pets-manager h3 { text-align: center }

.select-tipo {
    width: 150px;
}