#containerbody {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#botaopets {
  background-color: #3db295;
  border-color: #3db295;
}

#botaopets:hover {
  background-color: rgb(55, 160, 134);
  border-color: rgb(55, 160, 134);
}

.user-pet-list {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.info-user {
  word-break: break-word;
}

/* 
   #containerimgs{
       background-color: tomato;
   } */

@media (max-width: 1130px) {
  .info-user-cont,
  .info-user {
    font-size: 80%;
    word-break: break-word;
  }
}

@media (max-width: 768px) {
  .info-user-cont {
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .user-pet-list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
