.formulario {
    width: 40%;
    position: relative;
    left: 30%;
    margin-bottom: 60px;
    background-color: #FFF2CC;
    border-radius: 10px;
}
.formulario h3 { text-align: center }
.label {
    text-align: justify; 
}