.formulario {
    position: relative;
    left:20%;
    margin-bottom: 117px;
    background-color: #FFF2CC;
    border-radius: 10px;
}
.formulario h3 { text-align: center }
.label {
    text-align: justify; 
}