.formulario {
    width: 700px;
    background-color: #FFF2CC;
    position: relative;
    left: calc(50% - 350px);
}
.title {
    text-align: center;
}

.fotos-cadastro {
    height: 70px;
    width: 70px;
    background-color: orange;
    border-radius: 5px;
}

.fotos-cadastro i {
    color: #FFF2CC;

}