.terms__container {
  width: auto;
  margin-right: 4%;
  margin-left: 4%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px;
  border-radius: 26px;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.ul-terms {
  list-style-type: none;
}

.icon-terms {
  text-indent: -30px;
}

/* Ajusta responsividade do container de termos de uso */
@media (max-width: 400px) {
  .terms__container {
    margin: 0;
    font-size: 0.75rem;
  }
  .h2-terms {
    font-size: 1.25rem;
  }
  .h3-terms {
    font-size: 1rem;
  }
}
